<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/0ad644d1e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Infinity Cosmeticos</title>
</head>

<body>

    <div class="orderCongrats">
        <h2>Seu pedido foi processado com sucesso!</h2>
        <p>Um e-mail de confirmação foi enviado a você em <strong>grupo8@email.com.br</strong> com todos os detalhes
            do
            pedido.</p>
        <p>Efetue o pagamento no valor de <strong> R$ 279,46 </strong> até o dia <strong>09/11/2022</strong>
            utilizando
            os dados abaixo.</p>
    </div>

    <div class="orderPayment">
        <h2>Dados do Boleto Bancário a ser pago</h2>
        <p>74593.11218 15675.028003 00421.082330 7 91640000027946</p>
        <div class="orderPayment-buttons">
            <button><i class="fa-regular fa-copy"></i> Copiar</button>
            <button><i class="fa-solid fa-print"></i> Imprimir Boleto Bancário</button>
        </div>
    </div>


    <div class="orderBoleto">
        <div class="orderBoleto-square">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/BoletoBancario.png" alt="">
            <button>Expandir</button>
            <p>Não consegue ver o seu Boleto Bancário? <strong
                    title="Seu Boleto Bancário está funcionando normalmente! Clique em 'Imprimir Boleto Bancário' para efetuar o pagamento.">&#128712;</strong>
            </p>
        </div>
    </div>

    <div class="orderData">


        <div class="orderData-container">

            <div class="orderData-title">
                <h1>Pedido #0000001-01</h1>
            </div>


            <div class="orderData-user">
                <div class="orderData-userData">
                    <h2>dados pessoais</h2>
                    <p>Leonardo Machado</p>
                    <p>111.222.333-44</p>
                    <p>+5511993224884</p>
                </div>
                <div class="orderData-userData">
                    <h2>pagamento</h2>
                    <p>Boleto Bancário</p>
                    <p>R$ 279,46 à vista</p>
                </div>
                <div class="orderData-userData">
                    <h2>resumo</h2>
                    <div class="orderData-userData-resume">
                        <p>Subtotal</p>
                        <p>R$ 288,65</p>
                    </div>
                    <div class="orderData-userData-resume">
                        <p>Descontos</p>
                        <p>-R$ 9,19</p>
                    </div>
                    <div class="orderData-userData-resume">
                        <p>Total</p>
                        <p>R$ 279,46</p>
                    </div>
                </div>
            </div>


            <div class="orderData-address">
                <h2>receber</h2>
                <p>Leonardo Machado</p>
                <p>Rua 01 de Janeiro, 02</p>
                <p>Centro - Sao Paulo - SP</p>
                <p>12345-678</p>
                <p>Brasil</p>

                <span> Frete Economico </span>
                <p>4 dias úteis <i class="fa-solid fa-truck-fast"></i></p>
            </div>


            <div class="orderData-items">


            </div>
        </div>
    </div>

    <div class="orderItems">
        <div class="orderItems-container">
            <div class="orderItems-title">
                <h4>Economico</h4>
                <p>Em até 4 dias úteis</p>
            </div>

            <div class="orderItems-list">
                <div class="orderItems-listContainer">
                    <div class="orderItems-listImage">
                        <img src="https://useorganico.vteximg.com.br/arquivos/ids/165194-1000-1000/Kit-com-Esfoliante-e-Manteiga-Suavidade---Ahoaloe.jpg?v=637278528923470000"
                            alt="">
                    </div>
                    <div class="orderItems-listDescription">
                        <h3>Kit com Esfoliante e Manteiga Suavidade - Ahaloe</h3>
                        <p>1 un. R$ 189,50</p>
                    </div>
                </div>
                <div class="orderItems-listContainer">
                    <div class="orderItems-listImage">
                        <img src="https://useorganico.vteximg.com.br/arquivos/ids/166202-1000-1000/creme-facial-noturno-antioxidante-25-45-50g-souvie.jpg?v=637432949174600000"
                            alt="">
                    </div>
                    <div class="orderItems-listDescription">
                        <h3>Creme Facial Noturno Antioxidante 25/45 50g - Souvie</h3>
                        <p>1 un. R$ 114,00</p>
                    </div>
                </div>
                <div class="orderItems-listContainer">
                    <div class="orderItems-listImage">
                        <img src="https://useorganico.vteximg.com.br/arquivos/ids/155842-1000-1000/_MG_8725-Editar.jpg?v=636439390176130000"
                            alt="">
                    </div>
                    <div class="orderItems-listDescription">
                        <h3>Máscara de Argila Dourada Orgânica 40g – Terramater</h3>
                        <p>1 un. R$ 11,82</p>
                    </div>
                </div>
                <div class="orderItems-listContainer">
                    <div class="orderItems-listImage">
                        <img src="https://useorganico.vteximg.com.br/arquivos/ids/167584-1000-1000/kit-revitalizante-viagem.jpg?v=637686099758230000"
                            alt="">
                    </div>
                    <div class="orderItems-listDescription">
                        <h3>Kit Viagem Revitalizante para todos os tipos de pele - AhoAloe</h3>
                        <p>1 un. R$ 74,92</p>
                    </div>
                </div>
                <div class="orderItems-listContainer">
                    <div class="orderItems-listImage">
                        <img src="https://useorganico.vteximg.com.br/arquivos/ids/159710-1000-1000/kit-cabelos-claros-multivegetal.jpg?v=636747560419200000"
                            alt="">
                    </div>
                    <div class="orderItems-listDescription">
                        <h3>Kit Shampoo e Condicionador para Cabelos Claros - Multi Vegetal</h3>
                        <p>1 un. R$ 114,00</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="orderFinishButtons">

        <button>Realizar nova compra</button>
        <button>Ir para meus pedidos</button>

    </div>





    <footer>
        <div class="footer-start">
            <div class="footer-icon">
                <img src="../../img/infinityCosmeticosLogoFooter.png" alt="">
            </div>
            <div class="footer-links">

                <div class="footer-linksup">
                    <div class="footer-institutional">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="#">Atendimento</a></li>
                            <li><a href="#">Politica de Privacidade</a></li>
                            <li><a href="#">Termos e Condições</a></li>
                            <li><a href="#">Politica de Entrega</a></li>
                            <li><a href="#">Trocas e Devoluções</a></li>
                        </ul>
                    </div>

                    <div class="footer-contact">
                        <h3>Contato</h3>
                        <ul>
                            <li><a href="https://chat.whatsapp.com/FjdF5cHSeSyJIcPrKWDZmL" target="_blank"><i
                                        class="fa-brands fa-whatsapp"></i> (11)948584656</a></li>
                            <li><a href="#">sac@grupoinfinity.com.br</a></li>
                        </ul>
                        <span>Atendimento 24 horas</span>
                    </div>

                    <div class="footer-sociallinks">
                        <h3>Redes sociais</h3>
                        <div class="sociallinks-boxone">
                            <ul>
                                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/Grupo8tn17" target="_blank"><i
                                            class="fa-brands fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="sociallinks-boxtwo">
                            <ul>
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-linksdown">
                    <div class="footer-payment">
                        <h3>Pagamento</h3>
                        <ul>
                            <li><i class="fa-brands fa-cc-visa" title="VISA"></i></li>
                            <li><i class="fa-brands fa-cc-mastercard" title="Mastercard"></i></li>
                            <li><i class="fa-brands fa-cc-amex" title="American Express"></i></li>
                            <li><i class="fa-brands fa-cc-diners-club" title="Diners Club"></i></li>
                            <li><img src="https://i1.wp.com/remaxdobrasil.com.br/wp-content/uploads/2020/06/boleto-icone-branco.png?ssl=1"
                                    title="Boleto" alt="Icone de pagamento em boleto"></i></li>
                        </ul>
                    </div>

                    <div class="footer-securitycertificate">
                        <h3>Compra segura</h3>
                        <ul>
                            <li><img src="https://logodownload.org/wp-content/uploads/2016/09/pagseguro-logo-4-1.png"
                                    alt="Icone PagSeguro"></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <span>Copyright &copy; 2002 - Infinity Cosméticos Ltda. Todos os direitos reservados. CNPJ
                26.226.155/0001-34 -
                Av. Domingos Odália Filho, 301 - Sala: 14/106 - Centro Osasco, 06010-060, São Paulo - Brasil</span>
        </div>
    </footer>
</body>

</html>