@media(max-width: 986px){
    .container{
        grid-template-areas: "aside ." "main main";
    }
    .container aside{
        margin-bottom: 1.25rem
    }
}
@media(max-width: 732px){
    .container main .produtos .produto01 .cont-produto01 figure img{
        width: 9.375rem;
    }
    .container main .produtos .produto01 .cont-produto01 .info-produto01 h4{
        font-size: 1.2rem;
    }
    .container main .produtos .produto02 .cont-produto02 figure img{
        width: 9.375rem;
    }
    .container main .produtos .produto02 .cont-produto02 .info-produto02 h4{
        font-size: 1.2rem;
    }
}
@media(max-width: 430px){
    .container main .grupo-dados{
        grid-template-areas: "dados01" "dados02";
    }
}