body {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
}

body .banner-frete {
    display: none;
}

body > header {
    background-color: #4E6122;
    box-shadow: 0px 2px 6px #464646;
    max-height: 6rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 2rem;
  }
  
  header .nav-bar {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .mobile-menu-icon {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu-icon button {
    background: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0 2rem;
  }

  .nav-bar .nav-list {
    display: flex;
    flex-direction: column;
    background-color: #4E6122;
    position: absolute;
    height: 100vh;
    width: 30%;
    padding: 1rem;
    align-items: center;
    animation: 1s;
    margin-left: -100%;
    z-index: 10;
  }
  
  @keyframes showSidebar {
    from {margin-left: -100%;}
    top {margin-left: 0;}
  }
  
  .nav-list button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .nav-bar .nav-item {
    display: flex;
    margin: 3rem 0;
    list-style: none;
    width: 100%;
  }
  
  .nav-bar .nav-link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.5rem;
    color: #ffffff;
  }
  
  .nav-bar .nav-link:hover {
    background-color: #BFD68B;
  }
  
  
  .nav-bar .logo {
    display: flex;
    align-items: center;
  }
  
  .nav-bar .logo img {
    max-width: 8rem;
  }
  
  .nav-bar .nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    width: 100%;
    background-color: #BFD68B;
    padding: 1rem 0;
    z-index: 0;
    margin-bottom: 10rem;
  }
  
  
  .nav-bar .nav-search input {
    display: flex;
    width: 95%;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: #BFD68B;
    outline: 0;
    position: relative;
  }
  
  .nav-bar .nav-search button {
    position: absolute;
    right: 2rem;
    background: transparent;
    border: none;
    z-index: 10;
    color:black;
  }
  
  
  .nav-bar .nav-search input::placeholder {
    color: black;
    font-size: .9rem;
  }
  
  .nav-bar .nav-icons {
    display: flex;
    align-items: center;
  }
  
  
  .nav-icons .icon-user {
    display: none;
  }
  
  .nav-icons .icon-phone {
    display: none;
  }
  
  .nav-icons .icon-cart {
    margin-right: 1rem;
    padding-right: 1rem;
    color: white;
  }
  
  @media (min-width: 990px) {
  
    body .banner-frete {
        height: 27px;
        color: #4E6122;
        background-color: #BFD68B;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 15px;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    header .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 6rem;
      width: 100%;
    }
  
    .nav-bar .nav-list button {
      display: none;
    }
  
    
    .nav-bar .nav-list {
        display: flex;
        position: static;
        background-color: initial;
        align-items: center;
        margin: 0;
        margin-left: 3rem;
        z-index: 0;
    }
    
    .nav-bar .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%;
    } 
    
    
    .nav-bar .nav-link {
      text-decoration: none;
      font-size: 1rem;
      color: #ffffff;
      width: 8rem;
    }
    
    .nav-bar .logo {
      display: flex;
      align-items: center;
      margin: 0;
    }
    
    .nav-bar .logo img {
      max-width: 8rem;
    }
    
    .nav-bar .nav-search {
      display: flex;
      align-items: center;
      position: static;
      width: 20rem;
      z-index: 0;
      background-color: transparent;
      margin-bottom: 0;
    }
  
    .nav-bar .nav-search button {
      position: absolute;
      right: 29.5rem;
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
    
    
    .nav-bar .nav-search input {
      height: 3rem;
      border-bottom: 1px solid white;
      background: transparent;
    }
  
    .nav-bar .nav-search input::placeholder {
      color: white;
      font-size: .9rem;
      margin-left: 1rem;
    }
    
    .nav-bar .nav-icons {
      display: flex;
      align-items: center;
    }
    
    .nav-bar .nav-icons img {
      width: 2rem;
      margin: 0 .3rem;
    }
  
    .nav-icons .icon-user {
      display: block;
      color: white;
      margin-right: 1rem;
    }
    
    .nav-icons .icon-phone {
      display: block;
      color: white;
      margin-right: 1rem;
    }
  
    .nav-bar .mobile-menu-icon {
      display: none;
    }
  
    .mobile-menu {
      display: none;
    }
  }

/*
body > header {
    max-height: 100px;
    width: 100%;
    background-color: #4E6122;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

header .nav-bar {
    display: flex;
    
    background-color: red;
    justify-content: space-around;
    align-items: center;
}

header > .menu-mobile img {
    width: 3rem;
}

header .nav-bar .nav-list {
    display: none;
    flex-flow: 1;
    align-items: center;
}


.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 7rem;
}

header .icons {
    display: none;
    flex-flow: row;
    align-items: center;
}


@media (min-width: 768px) {

    body > header {
        max-height: 100px;
        width: 100%;
        background-color: #4E6122;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;
    }

    header > .menu-mobile {
        display: none;
    }

    header > .menu-mobile img {
        display: none;
    }

    header nav {
        display: flex;
        flex-flow: 1;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    header nav ul {
        padding: 0;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }
    
    
    header nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: .6rem;
    }

    header nav a:hover {
        background-color: #BFD68B;
        color: black;

    }


    header .icons {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    
    header .icons img {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    
    header .icon-search {
        display: flex;
        flex-flow: row;
        padding: 20px;
    }
    
    header .icon-search form {
        display: flex;
        flex-direction: row;
    }

    header .icon-search input {
        height: 30px;
        width: 200px;
        border-radius: .2rem;
        padding: .9rem;
    }
    
    header .icon-search img {
        width: 30px;
        margin-left: -30px;
    }
    
    header .icons-infos {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    
    header .icons-infos img {
        width: 28px;
        margin: 5px;
        color: black;
    }
    header .icon-user img {
        width: 28px;
    }

}
*/