body {
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderThanks {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 5rem 0 3rem 0;

  border: 1px solid red;
}

.orderThanks-container {
  display: flex;

  align-items: flex-end;

  border: 1px solid blue;
}

.orderThanks-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.orderThanks-container p {
  font-size: 1rem;
}

.orderThanks p {
  font-size: 1rem;
}

.orderData {
  max-width: 90%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.orderData-container {
  border: 0.1rem solid var(--offwhite-darkborder);
  padding: 1rem;

  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.orderPayment {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;

  border: 1px solid red;
}

.orderPayment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
}

.orderPayment h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.orderPayment-boleto {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;

  border: 1px solid blue;
}

.orderPayment-boletoleft {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  border: 0.1rem solid var(--gray);
  width: 21rem;
  padding: 0.2rem;
}

.orderPayment-boletoleft button {
  border: none;
  background-color: var(--offwhite);
  text-transform: uppercase;
}

.orderPayment-boletoright button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-darkcolor);
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  text-transform: uppercase;
  color: var(--offwhite);
}

.orderPayment-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid green;
}

.orderPayment-square img {
  max-width: 90%;
  width: 60rem;
  height: 20rem;
  border: 1px solid var(--offwhite-lightborder);
}

.orderPayment-square button {
  border: 1px solid var(--offwhite-lightborder);
  background-color: var(--gray);
  font-size: 1rem;
  text-transform: uppercase;
  max-width: 90%;
  width: 60rem;
  padding: 0.5rem;
}

#orderPayment-help {
  margin: 1rem;
  font-size: 0.8rem;
}

.orderReview {
  max-width: 90%;
  width: 80rem;

  border: 1px solid red;
}

.orderReview-container {
    display: flex;
    flex-direction: column;
}

.orderReview-userData {
    display: flex;
    flex-direction: column;
}

.orderReview-userData h2 {
    font-size: 1rem;
}


.orderReview-dataUp {
    display: flex;
    justify-content: space-around;
}