body {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

body .banner-frete {
  display: none;
}

header {
  width: 100%;
}

.header-principal {
  background-color: #4e6122;
  max-height: 6rem;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  width: 20%;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 80%;
  margin-right: .3rem;
  margin-left: 2rem;
}

.header-logo span {
  color: white;
  font-size: 190%;
}

.header-search {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.header-search button {
  background-color: transparent;
  border: none;
  width: 1.8rem;
}

.header-search img {
  width: 1.8rem;
  cursor: pointer;
  margin-left: -4rem;
}

.header-input {
  width: 100%;
  border: 1px solid #c2c2c2;
  padding-left: 1.25rem;
  padding-bottom: .625rem;
  padding-top: .625rem;
  font-size: .8rem;
  border-radius: .25rem;
}

.header-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.links-favorites {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.links-favorites img, .links-cart img  {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.links-favorites a, .links-account a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.links-account {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.links-account img {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.links-cart {
  width: 5%;
  display: flex;
  align-items: center;
}

.links-cart img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.icones {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-midlecolor);
  width: 100%;
  height: 3rem;
  box-shadow: 0px 2px 6px #464646;
  color: white;
  font-weight: bold;
  margin-bottom: .2rem;
}

.navbar-products {
  display: flex;
  width: 20rem;
  padding: .8rem;
  justify-content: center;
  align-items: center;
  background-color: #bfd68b;
}

.navbar-products a {
  text-decoration: none;
  color: white;
}

.navbar-products a:hover {
  color: #4e6122;
}

.navbar-products img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .3rem;
}

.navbar-listcategories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.navbar-listcategories li {
  max-width: 8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.navbar-listcategories li a:hover {
  color: #4e6122;
}

.navbar-listcategories li a {
  text-decoration: none;
  color: white;
}

.quantidade-produtos {
  display: none;
  position: fixed;
  background-color: red;
  color: white;
  font-size: .8rem;
  border-radius: 10rem;
  padding: .1rem .4rem;
  top: 2rem;
  right: 5.3rem;
}

.mobile {
  display: none;
} 

@media (max-width: 790px) {

  .mobile {
    display: block;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 1rem;
  }

  .header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-logo img {
    width: 60%;
    
  }

  .logo-span{
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  .workstation {
    display: none;
  }


  .menu-mobile img {
    width: 2.5rem;
    color: white;
    cursor: pointer;
  }

  .container-icons {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;

  }

  .navbar-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #bfd68b;
    width: 25rem;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: -130%;
  }

  .navbar-mobile img {
    width: 2rem;
    margin: 1rem;
  }

  .navbar-mobile li {
    padding: 1rem;
    border-bottom: 1px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .navbar-mobile li a {
    color: #4e6122;
    font-weight: bold;
  }

  .header-search {
    width: 100%;
    background-color: #4e6122;
    display: flex;
    padding: 1rem;
  }
  .header-search input {
    width: 80%;

  }

  .links-cart img {
    margin-right: 0;
  }

  .container-icons {
    margin: 0;
  }

  #fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }

  .quantidade-produtos {
    position: absolute;
    right: .7rem;
  }

}

@media (max-width: 425px) {
  
  .header-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-logo .image-logo {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    max-width: 0%;
    height: 48%;
    background-color: aliceblue;
  }

  .header-logo img {
    min-width: 50%;
    height: 48%;
  }

  .header-logo span {
    font-size: 100%;
  }

  .navbar-mobile {
    width: 15rem;
  }
}
