@import url("https://fonts.googleapis.com/css2?family= Lato:ital, wght @0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 & display=swap");

:root {
    --bg-lightcolor: #d0e1aa;
    --bg-midlelightcolor: #bfd68b;
    --bg-midlecolor: #9ab669;
    --bg-darkcolor: #4e6122;
    --offwhite: #f7f4eb;
    --offwhite-lightborder: #fffaf0;
    --offwhite-darkborder: #dbcea6;
    --gray: #b5c1b8;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    font: "Lato";
    background-color: var(--offwhite);
}

.meu-carrinho {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.meu-carrinho h1 {
    color: var(--bg-darkcolor);
    text-align: center;
    margin: 1rem;
}

table {
    width: 100%;
   border: none; 
}

table thead {
    font-size: small;
}

table tbody tr{
    background-color: var(--bg-lightcolor);
    box-shadow: 1px 1px 2px 2px var(--gray);
    border-radius: .3rem;
}

table td img {
    width: 5rem; 
}

table td form input {
    width: 2rem;
}

table td form button {
    width: 2rem;
    font-weight: bold;
}

td {
    color: var(--bg-darkcolor);
    text-align: center;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: .1rem;
}

td > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

tbody {
    color: #4e6122;
    
}

span {
    color: #4e6122;
    text-align: center;
}

form {
    color: #4e6122;
    font-weight: bold;
}

button {
    text-transform: uppercase;
    background-color: var(--bg-darkcolor);
    color: var(--offwhite);
    cursor: pointer;
    padding: .5rem;
    text-align: center;
    font: "Lato";
    font-weight:700;
    border-radius: .5rem;
    border: none;  
}

input {
    padding: .5rem;
    text-align: center;
    font: "Lato";
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 2px var(--gray);
}

.entrega {
    background-color: var(--bg-lightcolor);
    color: #4e6122;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 2px 2px var(--gray);
    border-radius: .3rem;
    
}

.cep label{
    margin-left: 6.5rem ;
}

.entrega input {
    min-width: 25rem;
    box-shadow: 1px 1px 2px 2px var(--gray);
    border-radius: .3rem;
}

.entrega button {
    min-width: 25rem;
    margin: .2rem;
    box-shadow: 1px 1px 2px 2px var(--gray);
    border-radius: .3rem;
 } 

 form .btn-f {
    min-width: 25rem;
    margin: .2rem;
}

.form-fechar-pedido {
    text-align: center;
}
  