body {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

body .banner-frete {
  display: none;
}

body > header {
  background-color: #4e6122;
  box-shadow: 0px 2px 6px #464646;
  max-height: 6rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 4.2rem;
  display: flex;
  align-items: center;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 2rem;
}

.header-logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 10rem;
  height: 7rem;
}

.header-logo span {
  color: white;
  font-size: 2rem;
}

.header-search {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-input {
  width: 30rem;
  border: 1px solid #c2c2c2;
  padding-left: 1.25rem;
  padding-bottom: .625rem;
  padding-top: .625rem;
  font-size: .8rem;
  border-radius: .25rem;
}

.header-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.links-favorites {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.links-favorites img, .links-cart img  {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.links-favorites a, .links-account a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.links-account {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.links-account img {
  width: 2rem;
  height: 2rem;
}

.links-cart {
  display: flex;
}




