
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f4eb;
    margin: 0;
}


main * {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

main .container-principal {
    width: 100%;
    padding-top: 3rem;
}


main asside .menu-filter{
   display: flex;
   justify-content: flex-start;
   position: fixed;
   background-color: #4E6122;
   height: 100vh;
   width: 50%;
   left: 0;
   top: 0;
   z-index: 100;
   animation: 1s;
   margin-left: -100%;
}

@keyframes showSidebar {
    from {margin-left: -100%;}
    top {margin-left: 0;}
}

.menu-filter #button-closed-filter {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 2rem 0;    
}

.menu-filter h3 {
    color: #fff;
    margin-bottom: 2rem;
} 

.menu-filter span {
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    text-align: start;
}

.menu-filter .button-clear {
    background-color: #BFD68B;
    border: none;
    padding: .5rem;
    width:  100%;
    color: white;
    cursor: pointer;
    width: 90%;
    font-weight: bold;
    margin-bottom: 2rem;
}

.menu-filter ul {
    display: flex;
    width: 90%;
    align-items: flex-start;
    margin: 1rem;
}

.menu-filter ul li {
    display: flex;
    align-items: flex-start;
}

.menu-filter .itens-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.menu-filter .itens-checkbox label {

    margin-left: .6rem;
    color: white;
}


main #button-filter {
    z-index: 10;
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    border: none;
    color: white;
    width: 8rem;
    font-weight: bold;
    padding: .5rem;
    background-color: #4E6122;
    cursor: pointer;
}


main .container-produtos {
    display: flex;
    width: 100%;
}

.container-produtos .container-order {
    display: flex;
    width: 100%;
}

.container-order .section-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 55px;
}

.section-filter .order {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-filter .order select {
    margin-left: 1rem;
    border: .030rem grey solid;
    background-color: white;
    padding: .3rem;
    width: 10rem;
}

main hr {
    color: grey;
    width: 80%;
    margin: 1rem;
}

.container-produtos #list-products {
    display: flex;
    flex-flow: row;
}

#list-products .container {
    display: grid;
}

.container .cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 30%);
    cursor: pointer;
}

.container .cards:hover {
    border: 2px solid #4E6122;
    background-color: white;
} 

.container .cards img {
    width: 100%;
    max-width: 224px;
    height: 234px;
}

.container .cards .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 30%);
}

.container .cards .footer-card h3 {
    margin-top: 2.5rem;
    color: #4E6122;
}


@media (min-width: 990px) {

    header > .menu-mobile img {
        display: none;
    }

    main .container-principal {
        align-items: flex-start;
        padding: 0;
        display: grid;
        grid-template-columns: 20% 80%;
    }
    
    main asside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2rem;
        padding: 4rem;
        width: 100%;
    }
    
    main asside h3 {
        padding: 1rem;
    }
    
    main asside button {
        background-color: #4E6122;
        border: none;
        padding: .5rem;
        width:  100%;
        color: white;
    }
    
    main asside span {
        padding: 1rem;
    }
    
    main asside ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
    
    main asside ul li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: .1rem;
    }
    
    main asside ul li .itens-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    main asside ul li .itens-checkbox label {
        padding-left: .5rem;
    }

    main #button-filter {
        display: none;
    }

    main asside .menu-filter{
        display: flex;
        justify-content: flex-start;
        position: static;
        background-color: initial;
        width: 100%;
        margin-left: 0;
        z-index: 0;
     }

     .menu-filter h3 {
        color: black;
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-start;
        width: 100%;
    } 

    .menu-filter .button-clear {
        background-color: #4E6122;
    }

    .menu-filter span {
        color: black;
        font-weight: bold;
        padding: 0;
    }

    .menu-filter .itens-checkbox label {
        color: black;
        font-weight: 500;
    }

     .menu-filter #button-closed-filter {
        display: none;
     }
    
    main .container-produtos {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    
    div .container-order {
        display: flex;
        flex-direction: column;
    }
    
    .container-order .section-filter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 55px;
    }
    
    #list-products {
        display: flex;
        flex-flow: row;
    }
    
    #list-products .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    
    .container .cards {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 20px;
        margin: 1rem;
        background-color: rgba(255, 255, 255, 30%);
    
    }
    
    .container .cards:hover {
        border: 2px solid #4E6122;
        background-color: white;
    } 
    
    .container .cards img {
        width: 224px;
        height: 234px;
    }
    
    .container .cards .footer-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container .cards .footer-card h3 {
        margin-top: 2.5rem;
        color: #4E6122;
    }



}