<<<<<<< HEAD
@import url(../../css/style.css);
@import url(../order/order.css);
=======
@import url("/public/css/style.css");
@import url("/public/views/order/order.css");
>>>>>>> dev-danieli

.orderFinished {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
  max-width: 90%;
  margin: auto;
}

.orderFinished-leftTopBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 2px 4px 6px var(--gray);

  margin-bottom: 2rem;
}

.fa-circle-check {
  font-size: 3rem;
  color: var(--bg-darkcolor);
}

.orderFinished-leftTopBox h1 {
  color: var(--bg-darkcolor);
  margin-bottom: 2rem;
}

.orderNumberTitle {
  font-weight: 700;
}

.orderNumber {
  margin-bottom: 2rem;
}

.orderUserEmail {
  color: var(--gray);
}

.orderFinished-leftBotBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.orderFinished-leftBotBox h2 {
  font-size: 1rem;
  font-weight: 700;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  width: 100%;
  padding: 0.25rem;
  margin-top: 1rem;
  color: var(--bg-darkcolor);
}

.orderFinished-leftBotBox p {
  text-align: left;
}

.orderFinished-leftBotBox span {
  font-weight: 700;
  color: var(--bg-darkcolor);
  margin-top: 1rem;
}

.fa-truck-fast {
  font-size: 2rem;
}

.orderFinished-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 2px 4px 6px var(--gray);

  margin-bottom: 2rem;
}

.orderFinished-right h2 {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  color: var(--bg-darkcolor);
  margin-bottom: 1rem;
}

.orderProducts {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: 2px 1px 4px var(--gray);
  padding: 0.5rem;
  gap: 0.5rem;
}

.orderProducts img {
  width: 5rem;
}

.orderProductsTitle {
  width: 20rem;
  word-wrap: break-word;
  text-align: left;
}

.orderFinishResume {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.orderResume-total {
  font-weight: 700;
}

.orderFinishedButtons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

<<<<<<< HEAD
=======
.orderFinishedButtons button a {
  color: var(--bg-darkcolor);
}

>>>>>>> dev-danieli
.orderFinishedButtons button {
  color: var(--bg-darkcolor);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: inherit;
  border: 1px solid var(--bg-darkcolor);

  padding-left: 1rem;
  padding-right: 0.5rem;
  border-radius: 0 120px 0 120px;
<<<<<<< HEAD
  
=======

>>>>>>> dev-danieli
  transition: 0.3s ease;
  cursor: pointer;
}

.orderFinishedButtons button:hover {
  color: var(--bg-lightcolor);
  background-color: var(--bg-darkcolor);
}

@media screen and (max-width: 820px) {
  .orderFinished {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .orderFinished-right {
    width: 100%;
  }

  .orderProducts {
    flex-wrap: wrap;
  }

  .orderProductsTitle {
    text-align: center;
  }

  .orderProducts img {
    width: 10rem;
  }

  .orderFinished-right {
    box-shadow: none;
  }

  .orderFinishedButtons {
    flex-wrap: wrap;
  }
}
