@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  background-color: #73b4ff;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-header {
  color: white;
  display: flex;
}

.info-header i {
  margin-left: 1rem;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 20%;
  background-color: white;
  height: 100%;
}

.title-sidebar {
  color: #333;
  font-size: 1.5rem;
  margin: 1rem;
}

.title-sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar h3 {
  color: #333;
  font-size: 1.5rem;
  margin: 1rem;
}

.sidebar .link-sidebar {
  display: block;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f4f4;
  height: 100%;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.box-header {
  display: flex;
  background-color: white;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.box-header h4 {
  font-size: 1.1rem;
}

.box-tools a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #dc3545;
  padding: 6px 12px;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.container .box-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.box-body .box-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.box-body .box-table tr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.box-table tr th {
  font-size: 1.1rem;
}

.box-body,
.table-id,
.table-inventory {
  width: 10%;
}

.box-body .table-name {
  width: 40%;
}

.box-body .table-picture {
  width: 10%;
}

.box-body .table-action,
.table-price {
  width: 15%;
}

.box-body .box-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box-body .box-table td img {
  width: 3rem;
  height: 3rem;
}

.box-table .action-edit {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #007bff;
  padding: 6px 12px;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.box-table .action-delete {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #dc3545;
  padding: 6px 12px;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.modal-buttons .button-cancel {
  background-color: #888;
}

.button-cancel,
.button-delete {
  padding: 0.6rem 1.2rem;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
}

.button-delete:hover {
  opacity: 1;
}

.button-cancel:hover {
  opacity: 1;
}

.modal-body .button-delete {
  background-color: #dc3545;
}

.action-delete {
  background-color: #dc3545;
  cursor: pointer;
}

.form-group #p_price {
  margin-bottom: 2rem;
}

.form-group .input-delete {
  background-color: #fff;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p {
  margin-bottom: 1rem;
  text-align: center;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}