<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
@import url("footer.css");
@import url("index.css");
@import url("style.css");
@import url("productDescription.css"); 


.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal {  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: --offwhite-darkborder #dbcea6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem; 
  font-family: "Lato", sans-serif
 }


.primeira {
    font-size: 100%;
    background: --offwhite-darkborder #dbcea6;
=======
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-filter {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    padding: 1.2rem;
    background-color: white;
    width: 100%;
>>>>>>> dev-kaique
    display: flex;
    align-items: center;
<<<<<<< HEAD
    justify-content: space-around;
    gap: 2rem; 
    font-family: "Lato", sans-serif;
  }

.primeira1 { font-size: 90%;
  background: --offwhite-darkborder #dbcea6;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-around;
   gap: 1rem; 
 }

 .primeira3 { font-size: 90%;
  background: --offwhite-darkborder #dbcea6;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-around;
   gap: 1rem; 
 }

.imagemProduto{
  height: 25rem;
}


.second {  display: flex;
  flex-direction:row;
  align-items: flex-start;
  justify-content: space-around;
   gap: 1rem;  }

.item {
  height: 5rem;
  width: 5rem;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}


.container {
  position: relative;
  padding: 1rem;
  max-width: 200rem;
  margin: 0 auto;
}


.arrow-left, .arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 10px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}


.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover {
  opacity: 1;
}

.arrow-right:hover {
  opacity: 1;
}




.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.current-item {
  opacity: 1;
}



.top {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4e6122;
  width: 13rem;
  height:2rem;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 0,5rem;
  color: #0a0a0a}

.principal.segunda {font-size: 100%;
  
  background: --offwhite-darkborder #dbcea6;
  display: flex;
  flex-direction: row;
  align-items: flex start;
  justify-content: space-around;
  gap: 2rem; 
  margin: 4rem;
}

.segunda1 {font-size: 100%;
  background: --offwhite-darkborder #dbcea6;
  display: flex;
  flex-direction: column;
  align-items: flex start;
  justify-content: space-around;
  gap: 0.8rem; 
  font-family: "Lato", sans-serif;
  font-style: oblique;
  font-al: ;
}
  

.segunda2{font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex start;
  justify-content: space-around;
  gap: 0.8rem; 
  margin-top: 2rem
  font-family: "Lato", sans-serif;
=======
    justify-content: flex-start;
}

.products {
    width: 100%;
    height: 32rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.products-left {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.products-left img {
    transform-origin: center center;
    object-fit: cover;
    width: 25.5rem;
    height: 28rem;
}

.products-rigth {
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin-left: 5.7rem;
    padding: 0 1rem;
}

.products-reference {
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
}

.products-categories {
    width: 100%;
    display: flex;
    align-items: center;
}

.products-categories a {
    list-style: none;
    color: var(--bg-midlecolor);
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
}
>>>>>>> dev-kaique

.products-categories span {
    color: var(--gray);
}

.products-favorite img {
    width: 1.5rem;
    margin-right: 1.2rem;
}

.title-product {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.title-product h3 {
    font-size: 1.3rem;
    max-width: 28rem;
    max-height: 5rem;
}

.title-product img {
    width: 1.5rem;
    margin-right: 1.2rem;
}

.stars-rating {
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
}

.stars-rating img {
    width: 0.75rem;
    height: 0.75rem;
}

.stars-rating span {
    font-size: 0.75rem;
    margin-left: .35rem;
}

.product-price {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.product-price h5 {
    text-decoration: line-through;
    font-size: 0.75rem;
    color: #777;
    margin-bottom: 1.5rem;
}

.product-price span {
    font-size: 0.87rem;
}

.product-price strong {
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--bg-midlecolor);
    margin-left: .1rem;
}

.product-add {
    display: flex;    
    margin-bottom: 1.5rem;
}

.product-add button {
    background-color: var(--bg-darkcolor);
    border: none;
    border-radius: .25rem;
    color: white;
    width: 18.5rem;
    height: 2.8rem;
}

.button-add button {
    border: none;
    background-color: #e2e2e2;
    width: 2.4rem;
    height: 2.8rem;
    border-radius: .25rem;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.button-add {
    background-color: #e2e2e2;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.calculator-freight {
    display: flex;
    flex-direction: column;
    width: 27.25rem;
    height: 5rem;
    background-color: var(--gray);
    padding: .75rem;
    border-radius: .25rem;
}

.freight-header {
    display: flex;
    align-items: center;
}

.freight-header img {
    width: 1.5rem;
}

.freight-header span {
    font-size: .87rem;
    font-weight: bold;
    margin-left: .5rem;
}

.freight-field {
    display: flex;
    align-items: center;
}

.freight-field input {
    width: 16.3rem;
    height: 2.06rem;
    border: none;
    border-radius: .25rem;
}

.freight-field button {
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-midlecolor);
    color: white;
    border: none;
    font-size: 0.9rem;
    border-radius: .25rem;
}

.products-tables {
    width: 98%;
}

.assessments {
    width: 100%;
    background-color: white;
    height: 4rem;
    color: var(--bg-darkcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    border-radius: .25rem;
}


.assessments button {
    margin-left: 10rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6rem;
}

.description-product {
    display: flex;
    flex-direction: row;
}

.products-composition {
    display: flex;
    flex-direction: column;
    animation: 1s;
}

<<<<<<< HEAD
.segunda2-1{font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex start;
  justify-content: space-around;
  gap: 0.8rem; 
  margin-top: 2rem
  font-family: "Lato", sans-serif;
=======
.product-information {
    background-color: white;
    border-radius: .25rem;
    padding: 0.73rem;
    margin-bottom: 1rem;
>>>>>>> dev-kaique
}

.product-information h3 {
    font-size: 1.88rem;
    margin-bottom: 1rem;
}

.container-rating {
    animation: 1s;
}

