@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
@import url('/public/css/footerAlternative.css');
@import url('/public/css/headerAlternative.css');
@import url('/public/css/footer.css');

:root {
  --bg-lightcolor: #d0e1aa;
  --bg-midlelightcolor: #bfd68b;
  --bg-midlecolor: #9ab669;
  --bg-darkcolor: #4e6122;
  --offwhite: #f7f4eb;
  --offwhite-lightborder: #fffaf0;
  --offwhite-darkborder: #dbcea6;
  --gray: #b5c1b8;
  --darkorange: darkorange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--offwhite);
}

#new-customer {
  margin: 2rem;
  padding: 4rem 0.5rem 0.5rem 0.5rem;
}

#new-customer h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--bg-darkcolor);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#new-customer hr {
  border: 0;
  height: 0.2rem;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--bg-darkcolor),
    transparent
  );
}

#new-customer h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--bg-darkcolor);
  font-weight: 700;
  margin: auto;
  padding: 4rem 0.5rem 1rem 0.5rem;
}

.registrationForm {
  display: flex;
  justify-content: center;
}

#personal-data {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  flex-wrap: wrap;
  gap: 3rem;
  margin: auto;
  padding-bottom: 9rem;
  width: 100%;
}

#first-new-customer,
#second-new-customer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  width: 65rem;
  height: 30rem;
  box-shadow: 4px 4px 4px 4px var(--gray);
}

.data input {
  background-color: #ffff;
  border: none;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  box-shadow: 5px 4px 4px var(--gray);
  font-size: 2rem;
  transition: all 0.15s ease-in-out;
}

.small-data {
  display: flex;
  justify-content: space-between;
}
.small-data input {
  background-color: #ffff;
  border: none;
  width: 100%;
  margin: 1rem;
  height: 3.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 4px 4px var(--gray);
  font-size: 2rem;
  transition: all 0.15s ease-in-out;
}

.data input:focus,
.small-data input:focus {
  outline: 0.1rem solid var(--bg-darkcolor);
}

.data input:hover,
.small-data input:hover {
  box-shadow: 1px 1px var(--gray), 2px 2px var(--gray), 3px 3px var(--gray);
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

#fullName::placeholder,
#email::placeholder,
#cpf::placeholder,
#tel::placeholder,
#cep::placeholder,
#pwd1::placeholder,
#pwd2::placeholder {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.checkbox input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
}

.checkbox label {
  font-size: 1.5rem;
  color: var(--bg-darkcolor);
  font-weight: 600;
}

.checkbox a {
  font-size: 1.5rem;
  color: var(--darkorange);
  font-weight: 600;
}

.personal-data-button {
  display: flex;
  justify-content: flex-end;
}

#advance {
  background-color: var(--bg-darkcolor);
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3rem;
  width: 18rem;
  height: 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: var(--offwhite);
  border-radius: 3rem;
  transition: all 0.15s ease-in-out;
}

#advance:hover,
.checkbox a:hover {
  filter: brightness(115%);
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
}

.errorInput {
  border: 3px solid rgb(240, 54, 54) !important;
}

.error {
  display: flex;
  border-radius: .25rem;
  margin-top: -1.5rem;
  margin-bottom: .5rem;
  padding: .7rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 6.2rem;
}

@media (max-width: 1020px) {
  #personal-data {
    max-width: 90%;
  }
}
