
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';

}
body{
   background-color: #f7f4eb ;
}

header{
    color:#fff;
    padding-top: 0.625rem;
    text-align: center;
    padding-bottom: 0.625rem;
    background-color: #4e6022;
}

.titulo-painel hr {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right,transparent,var(--bg-darkcolor),transparent);
  }

=======
>>>>>>> 815320044c41239ed604b605f56f564f1938137a
.titulo-painel{
    width: 100%;
    padding-top: 1.25rem;
    text-align: center;
    padding-bottom: 0.625rem;
<<<<<<< HEAD
    color: #4e6022;
=======
>>>>>>> 815320044c41239ed604b605f56f564f1938137a
}
.container{
    width: 95%;
    margin: auto;
    display: grid;
    gap: 0.625rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    grid-template-areas: "aside main main main main main";
}
/* Início do main */
.container main{
    grid-area: main;
}
<<<<<<< HEAD

/* Início do Primeiro Produto */
.container main .produtos{
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
}
=======
/* Início do Scroll */
.scroll {
    overflow-y: scroll;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
/* fim do scroll */
/* Início do Primeiro Produto */
>>>>>>> 815320044c41239ed604b605f56f564f1938137a
.container main .produtos .produto01{
    padding: 0.625rem;
    background-color: #fff;
    box-shadow: 0.016rem 0.016rem 0.069rem 0.016rem rgb(201, 201, 201);
    border-radius: 30px;
    margin: 30px 0;
}
.container main .produtos .produto01 .cont-produto01{
    display: flex;
    align-items: center;
}
.container main .produtos .produto01 .cont-produto01 figure{
    margin-right: 1.875rem;
}
.container main .produtos .produto01 .cont-produto01 figure img{
    width: 9.25rem;
}
.container main .produtos .produto01 .cont-produto01 .info-produto01 h4{
    font-size: 2rem;
}
.container main .produtos .produto01 .cont-produto01 .info-produto01 p span{
    font-size: 1.563rem;
}
/* Fim do Primeiro Produto */
/* Início do Segundo Produto */
.container main .produtos .produto02{
    padding: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    background-color: #fff;
    box-shadow: 0.016rem 0.016rem 0.069rem 0.016rem rgb(201, 201, 201);
    border-radius: 30px;
    margin: 30px 0;
}
.container main .produtos .produto02 .cont-produto02{
    display: flex;
    align-items: center;
}
.container main .produtos .produto02 .cont-produto02 figure{
    margin-right: 1.875rem;
}
.container main .produtos .produto02 .cont-produto02 figure img{
    width: 9.25rem;
}
.container main .produtos .produto02 .cont-produto02 .info-produto02 h4{
    font-size: 2rem;
}
.container main .produtos .produto02 .cont-produto02 .info-produto02 p span{
    font-size: 1.563rem;
}
/* Fim do Segundo Produto */

/* Início dos Dados Pessoais */
.container main .dadospessoais{
<<<<<<< HEAD
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
    
}

=======
    padding: 10px;
    background-color: #fff;
    box-shadow: 0.016rem 0.016rem 0.069rem #000;
}
>>>>>>> 815320044c41239ed604b605f56f564f1938137a
.container main .dadospessoais h2{
    text-align: center;
    margin-bottom: 1.25rem;
}
.container main .grupo-dados{
    display: grid;
    grid-template-areas: "dados01 dados02";
}
.container main .grupo-dados .dados01{
    grid-area: dados01;
}
.container main .grupo-dados .dados02{
    grid-area: dados02;
}
.container main .dadospessoais button{
    width: 12.5rem;
    padding: 0.625rem;
    border-radius: 0.563rem;
    border: none;
    cursor: pointer;
    background-color: #4e6022;
    
}
.container main .dadospessoais button:hover{
    background-color: #d0e1aa;
    transition-duration: 1s ;
}
/* Fim dos Dados Pessoais */
/* Início Aside */
.container aside{
    grid-area: aside;
}
.container aside .nav-usuario{
    padding: 0.625rem;
    background-color: #fff;
    box-shadow: 0.016rem 0.016rem 0.063 #000;
}
.container aside .nav-usuario figure{
    text-align: center;
}
.container aside .nav-usuario h3{
    text-align: center;
    margin-bottom: 1.25rem;
}
.container aside .nav-usuario figure img{
    width: 9.375rem;
}

.container aside .nav-usuario nav ul{
    list-style: none;
    
}
.container aside .nav-usuario nav ul li{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    
}
.container aside .nav-usuario nav ul li a{
    color: #000;
    font-size: 1.063rem;
    text-decoration: none;
    
}

.container aside .nav-usuario nav ul li a:hover{
    color:#4e6022;
    transition-duration: 500ms;
}

.container aside .nav-usuario nav ul li a i{
    font-size: 1.25rem;
}


/* Fim Aside */
/* Rodape */
/* footer{
    color: #fff;
    padding-top: 0.625rem;
    text-align: center;
    padding-bottom: 0.625rem;
    background-color: #4e6022;
} */

@media(max-width: 986px){
    .container{
        grid-template-areas: "aside ." "main main";
    }
    .container aside{
        margin-bottom: 1.25rem
    }
}
@media(max-width: 732px){
    .container main .produtos .produto01 .cont-produto01 figure img{
        width: 9.375rem;
    }
    .container main .produtos .produto01 .cont-produto01 .info-produto01 h4{
        font-size: 1.2rem;
    }
    .container main .produtos .produto02 .cont-produto02 figure img{
        width: 9.375rem;
    }
    .container main .produtos .produto02 .cont-produto02 .info-produto02 h4{
        font-size: 1.2rem;
    }
}
@media(max-width: 430px){
    .container main .grupo-dados{
        grid-template-areas: "dados01" "dados02";
    }
}