<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/0ad644d1e0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="public/img/infinityCosmeticos.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="order.css">
    <title>Infinity Cosmeticos</title>
</head>

<body>
    <header class="orderHeader">
        <div class="orderHeader-container">

            <a href="../../../index.html"><img src="../../img/infinityCosmeticosLogo.png"
                    alt="Logotipo Infinity Cosmeticos"></a>

            <div class="orderHeader-safeBuy">
                <h3>sua compra segura</h3>
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </header>

    <div class="orderUserData">

        <form class="orderUserData-personal" action="">
            <h3>Dados Pessoais</h3>
            <input type="text" id="orderUserName" placeholder="Nome Completo">
            <input type="email" id="orderUserEmail" placeholder="E-mail">
            <input type="text" id="orderUserPhone" placeholder="Telefone" maxlength="11">
            <input type="text" id="orderUserDocument" placeholder="CPF" maxlength="11">

        </form>

        <form class="orderUserData-address" action="">
            <h3>Endereço de Entrega</h3>
            <input type="text" id="orderAddressStreet" placeholder="Rua">
            <div class="orderUserData-addressContainer">
                <input type="number" id="orderAddressNumber" placeholder="Nº">
                <input type="text" id="orderAddressZipCode" placeholder="CEP" maxlength="8">
            </div>
            <div class="orderUserData-addressContainer">
                <input type="text" id="orderAddressCity" placeholder="Cidade">
                <input type="text" id="orderAddressState" placeholder="Estado">
            </div>

            <input type="text" id="orderAddressComplement" placeholder="Complemento">
            <input type="text" id="orderAddressReference" placeholder="Ponto de Referencia">
        </form>

        <fieldset>

            <legend>Forma de Envio</legend>
            <div>
                <h4>PAC</h4>
                <label for="pac">
                    <input name="frete" type="radio" id="pac">
                    <div class="deliveryType-price">
                        <p class="price">R$ 11,26</p>
                        <p class="deadline">Entrega em 9 dias uteis</p>
                    </div>
                </label>
            </div>

            <div>
                <h4>Sedex</h4>
                <label for="sedex">
                    <input name="frete" type="radio" id="sedex">
                    <div class="deliveryType-price">
                        <p class="price">R$ 11,26</p>
                        <p class="deadline">Entrega em 9 dias uteis</p>
                    </div>
                </label>
            </div>

        </fieldset>

    </div>

    <div class="orderPaymentResume">
        <div class="orderPaymentType">

            <h3>Forma de pagamento</h3>
            <div class="orderPaymentType-container">
                <button><span>Cartão de Crédito <br> </span><i class="fa-regular fa-credit-card"></i></button>

                <button><span>Boleto Bancário <br> </span><i class="fa-solid fa-barcode"></i></button>

                <button><span>Pix <br> </span><i class="fa-brands fa-pix"></i></button>
            </div>
        </div>

        <div class="orderResume">

            <h3>Resumo da Compra</h3>
            <div class="orderResume-resume">
                <p>1 Produto </p>
                <p>R$ 249,00</p>
            </div>
            <div class="orderResume-delivery">
                <p>Frete</p>
                <p>R$ 11,26</p>
            </div>

            <div class="orderResume-total">
                <p>TOTAL</p>
                <p>R$ 509,26</p>
            </div>

        </div>
    </div>



    <div class="orderButtons">
        <button>Continuar comprando</button>
        <button>Finalizar pedido</button>
    </div>

    <footer>
        <div class="footer-start">
            <div class="footer-icon">
                <img src="../../img/infinityCosmeticosLogo.png" alt="">
            </div>
            <div class="footer-links">

                <div class="footer-linksup">
                    <div class="footer-institutional">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="#">Atendimento</a></li>
                            <li><a href="#">Politica de Privacidade</a></li>
                            <li><a href="#">Termos e Condições</a></li>
                            <li><a href="#">Politica de Entrega</a></li>
                            <li><a href="#">Trocas e Devoluções</a></li>
                        </ul>
                    </div>

                    <div class="footer-contact">
                        <h3>Contato</h3>
                        <ul>
                            <li><a href="https://chat.whatsapp.com/FjdF5cHSeSyJIcPrKWDZmL" target="_blank"><i
                                        class="fa-brands fa-whatsapp"></i> (11)948584656</a></li>
                            <li><a href="#">sac@grupoinfinity.com.br</a></li>
                        </ul>
                        <span>Atendimento 24 horas</span>
                    </div>

                    <div class="footer-sociallinks">
                        <h3>Redes sociais</h3>
                        <div class="sociallinks-boxone">
                            <ul>
                                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/Grupo8tn17" target="_blank"><i
                                            class="fa-brands fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="sociallinks-boxtwo">
                            <ul>
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-linksdown">
                    <div class="footer-payment">
                        <h3>Pagamento</h3>
                        <ul>
                            <li><i class="fa-brands fa-cc-visa" title="VISA"></i></li>
                            <li><i class="fa-brands fa-cc-mastercard" title="Mastercard"></i></li>
                            <li><i class="fa-brands fa-cc-amex" title="American Express"></i></li>
                            <li><i class="fa-brands fa-cc-diners-club" title="Diners Club"></i></li>
                            <li><i class="fa-solid fa-barcode" title="Boleto"></i></li>
                        </ul>
                    </div>

                    <div class="footer-securitycertificate">
                        <h3>Compra segura</h3>
                        <ul>
                            <li><img src="https://logodownload.org/wp-content/uploads/2016/09/pagseguro-logo-4-1.png"
                                    alt="Icone PagSeguro"></li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <span>Copyright &copy; 2002 - Infinity Cosméticos Ltda. Todos os direitos reservados. CNPJ
                26.226.155/0001-34 -
                Av. Domingos Odália Filho, 301 - Sala: 14/106 - Centro Osasco, 06010-060, São Paulo - Brasil</span>
        </div>
    </footer>
</body>

</html>