* {
    font-family: 'Lato', sans-serif;
    background-color: #F7F4EB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #4E6122;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #4E6122;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.personal-data {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

hr {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right, transparent, #4E6122, transparent);    
}

#first{
    text-align: center;
    margin-top: 2rem;
    width: 50%;
    border: 3px solid green;
}

#first h2 {
    font-size: 2rem;
    color: #4E6122;
    margin-bottom: 1rem;
}

.dice input {
    background-color:#ffff;
    border: none; 
    width: 60%;
    height: 4rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    box-shadow: 5px 4px 4px #B5C1B8;
    font-size: 2rem;
}

.small-data input {
    background-color:#ffff;
    border: none; 
    width: 30%;
    height: 3.5rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 4px 4px #B5C1B8;
    font-size: 2rem;
}

.dice input:focus, .small-data input:focus {
    outline: .2rem solid #4E6122;
}

#name::placeholder, #email::placeholder, #cpf::placeholder, #tel::placeholder, #cep::placeholder, #pwd1::placeholder,#pwd2::placeholder {
    padding: .5rem;
    font-size: 1.5rem;
}

#second {
    text-align: center;
    margin-top: 2rem;
    width: 50%;
    border: 3px solid green;
}

.checkbox input {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
}

.checkbox label {
    font-size: 1.5rem;
    color: #4E6122;
    font-weight: 600;
}

.checkbox a {
    font-size: 1.5rem;
    color: darkorange;
    font-weight: 600;
}

button{
    background-color: #4E6122;
    border: none; 
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    border-radius: 3rem;
    font-weight: 700;
    width: 18rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #F7F4EB;
    border-radius: 3rem;
}
   











