<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Rajdhani&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
        <link rel="stylesheet" href="login.css">
        <title>Formulário de Login e Cadastro</title>
    </head>

    <body link="#4E6122" vlink="#4E6122">

        <div class="banner-frete"><a>GRÁTIS ACIMA DE R$ 249,90 - TODO BRASIL</a></div>
        <header>
          <div class="menu-mobile">
              <img src="/public/img/icons8-cardápio-64.png" alt="">
          </div>
          <nav>
              <ul>
                  <li><a href="first">+Categorias</a></li>
                  <li><a href="second">Pó Facial</a></li>
                  <li><a href="tree">Lip Oil</a></li>
                  <li><a href="four">Bruma</a></li>
                  <li><a href="five">Iluminador</a></li>
              </ul>
          </nav>
      
          <div class="logo">
              <a href="index.html"><img src="/public/img/Logo3PNG.png" alt=""></a>
          </div>
      
          <div class="icons">       
              <div class="icon-search">
                  <form action="/" method="post">
                      <input type="text" placeholder="Pesquisar Produtos...">
                      <img src="/public/img/icons8-search-64.png" alt="">
                  </form>
              </div>
              <div class="icons-infos">
                  <div class="icon-user">
                      <img src="/public/img/icons8-user-64-white.png" alt="">
                  </div>
                  <div class="icon-phone">
                      <img src="/public/img/icons8-telefone-desligado-64.png" alt="">
                  </div>
                  <div class="icon-cart">
                      <img src="/public/img/icons8-carrinho-de-compras-64.png" alt="">
                  </div>
              </div>    
          </div>
        </header>

        <main>
            <header>
                    <h1>Registre-se</h1>
                    <hr/>
            </header>
            
            <form action="/" method="post">
                
                <section class="container">
                    
                    <section id="first">
                        <h2>LOGIN</h2>

                        <div class="input">
                            <label for="email"></label>
                            <input type="email" id="email" name="email" required="required" placeholder="E-mail"/> 
                        </div>  

                        <div class="input">
                            <label for="pwd"></label>
                            <input type="password" id="pwd" name="pwd" required="required" placeholder="Senha">
                        </div>

                        <p>
                            <a href="">Esqueci minha senha?</a>              
                        </p>             

                        <button type="submit">Entrar</button>

                    </section>

                    <section id="second">
                        <div class="buttonGoogle">
                            <button type="submit"><img src="../../img/simbolGoogle.png" alt="Google">Continuar com o Google</button><br />
                        </div>

                        <div class="buttonCadastro"></div>
                            <button type="submit">Clique e cadastre-se</button>
                        </div>

                        <aside id="desc">
                            <p>Cadastre-se em nosso site e ganhe</br>
                            <strong>10% de desconto</strong> na sua primeira compra!</p>
                        </aside>        
                            
                    </section>
                </section>

            </form>                
                
        </main>

        <footer>
            <div class="footer-start">
              <div class="footer-icon">
                <img src="public/img/infinityCosmeticosLogoFooter.png" alt="">
              </div>
              <div class="footer-links">
        
                <div class="footer-linksup">
                  <div class="footer-institutional">
                    <h3>Institucional</h3>
                    <ul>
                      <li><a href="#">Atendimento</a></li>
                      <li><a href="#">Politica de Privacidade</a></li>
                      <li><a href="#">Termos e Condições</a></li>
                      <li><a href="#">Politica de Entrega</a></li>
                      <li><a href="#">Trocas e Devoluções</a></li>
                    </ul>
                  </div>
        
                  <div class="footer-contact">
                    <h3>Contato</h3>
                    <ul>
                      <li><a href="https://chat.whatsapp.com/FjdF5cHSeSyJIcPrKWDZmL" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i> (11)948584656</a></li>
                      <li><a href="#">sac@grupoinfinity.com.br</a></li>
                    </ul>
                    <span>Atendimento 24 horas</span>
                  </div>
        
                  <div class="footer-sociallinks">
                    <h3>Redes sociais</h3>
                    <div class="sociallinks-boxone">
                      <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://github.com/Grupo8tn17" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                      </ul>
                    </div>
                    <div class="sociallinks-boxtwo">
                      <ul>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
        
                <div class="footer-linksdown">
                  <div class="footer-payment">
                    <h3>Pagamento</h3>
                    <ul>
                      <li><i class="fa-brands fa-cc-visa" title="VISA"></i></li>
                      <li><i class="fa-brands fa-cc-mastercard" title="Mastercard"></i></li>
                      <li><i class="fa-brands fa-cc-amex" title="American Express"></i></li>
                      <li><i class="fa-brands fa-cc-diners-club" title="Diners Club"></i></li>
                      <li><img
                          src="https://i1.wp.com/remaxdobrasil.com.br/wp-content/uploads/2020/06/boleto-icone-branco.png?ssl=1"
                          title="Boleto" alt="Icone de pagamento em boleto"></i></li>
                    </ul>
                  </div>
        
                  <div class="footer-securitycertificate">
                    <h3>Compra segura</h3>
                    <ul>
                      <li><img src="https://logodownload.org/wp-content/uploads/2016/09/pagseguro-logo-4-1.png"
                          alt="Icone PagSeguro"></li>
                    </ul>
        
        
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-end">
              <span>Copyright &copy; 2002 - Infinity Cosméticos Ltda. Todos os direitos reservados. CNPJ 26.226.155/0001-34 -
                Av. Domingos Odália Filho, 301 - Sala: 14/106 - Centro Osasco, 06010-060, São Paulo - Brasil</span>
            </div>
        </footer>

    </body>

</html>