<%- include('partials/cabecalho-alternativo') %>

<main>
    <h1></h1>
<!-- //botão voltar ao menu usuario -->
    <button type="submit">
        <a href="/">voltar</a>
    </button>
</main>

<%- include('partials/rodape-alternativo') %>


