<%- include('partials/cabecalho') %>


    <div class="orderFinished">

        <div class="orderFinished-left">
            <div class="orderFinished-leftTopBox">
                <span><i class="fa-solid fa-circle-check"></i></span>
                <h1>Pedido Concluido com Sucesso</h1>

                <p class="orderNumberTitle">Número do pedido</p>
                <p class="orderNumber">03-538713470</p>

                <p class="orderUserEmail">Confirmação do pedido enviado para: <br> grupo8@email.com.br</p>
            </div>
            <div class="orderFinished-leftBotBox">
                <h2>Endereço de entrega</h2>
                <p>Fulano de Tal <br> Rua 1 de Janeiro, 02 - São Paulo SP <br> CEP: 01234-678</p>

                <h2>Forma de pagamento</h2>
                <p>MasterCard 5555********6789 <br> 2x de R$ 271,20 sem juros <br>Valor Total R$
                    542,40
                </p>

                <span>Receba seu pedido até 23 de Novembro <i class="fa-solid fa-truck-fast"></i></span>
            </div>
        </div>

        <div class="orderFinished-right">
            <h2>Resumo da compra</h2>

            <div class="orderProducts">
                <img src="https://www.sephora.com.br/dw/image/v2/BFJC_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/pt_BR/dwb957e8e2/images/hi-res-BR/lm_s20_tlsp_honey_1500px.jpg?sw=1200&sh=1200&sm=fit"
                    alt="">
                <span class="orderProductsTitle">Pó Facial Loose Honey Translucido - Laura Mercier - 9,3g</span>
                <span class="orderProductsAmount">Qtd: 01</span>
                <span class="orderProductsPrice">R$ 299,00</span>
            </div>
            <div class="orderProducts">
                <img src="https://img.melvita.com/ocms/img/P.aspx?l=en-IE&s=450&e=jpg&name=certified-organic-luscious-natural-lip-oil&id=8RZ0050&v=1"
                    alt="">
                <span class="orderProductsTitle">Lip Oil LUSCIOUS Natural - Melvita - 7ml</span>
                <span class="orderProductsAmount">Qtd: 02</span>
                <span class="orderProductsPrice">R$ 142,00</span>
            </div>
            <div class="orderProducts">
                <img src="https://www.useorganico.com.br/arquivos/ids/163966-1000-1000/benecos_benecos_natural_mineral_powder_medium_beige_large.jpg?v=637058159656900000"
                    alt="">
                <span class="orderProductsTitle">Pó Facial Mineral Solto Medium Beige - Benecos - 10g</span>
                <span class="orderProductsAmount">Qtd: 01</span>
                <span class="orderProductsPrice">R$ 85,50</span>
            </div>


            <div class="orderFinishResume">
                <div class="orderResume-resume">
                    <p>Subtotal </p>
                    <p>R$ 526,50</p>
                </div>
                <div class="orderResume-delivery">
                    <p>Frete</p>
                    <p>R$ 15,90</p>
                </div>

                <div class="orderResume-total">
                    <p>TOTAL</p>
                    <p>R$ 542,40</p>
                </div>
            </div>
        </div>

    </div>

    <div class="orderFinishedButtons">
        <button><a href="/public/views/list-product/list.product.html">Continuar comprando</a></button>
        <button><a href="/public/views/painelDoUsuario/painelDeUsuario.html">Ir para meus pedidos</a></button>
    </div>



    <%- include('partials/rodape-alternativo') %>
