<%- include('partials/cabecalho-alternativo') %>
        <!-- Final do Cabeçalho --> 
        
        <!-- Início do Container -->
        <section class="painel-container">
            <!-- início do main -->
            <main>
                <div class="titulo-painel">
                    <h1>Meus Pedidos</h1><hr> 
                    
                </div>         
                
                <!-- Início da Section   Produtos -->
                <section class="produtos">
                    <!-- inicio do Scroll -->
                    <div class="scroll">
                        <!-- Início do Produto 1 -->
                        <div class="produto01">
                            <div> pedido.pedidos_idpedidos </div>
                            <div>pedido.data_compra</div>
                            <div>pedido.status_pedido</div>
                        </div>
                      
                    </div>
                    <!-- fim do scroll -->
                </div>
                </section>
                <!-- Fim da Section dos Produtos -->

            </main>
            <!-- Fim do Main -->
            <!-- Início do Aside -->
            <aside>
                <section class="aside-user">
                    <% usuarios.forEach(usuario=> { %>
                    <figure>
                        <i class="icon-user fa-solid fa-user"></i>
                    </figure>
                    
                    <h3 class="name-user">
                <%= usuario.nome + " " + usuario.sobrenome %>
                    </h3>
                    
                    <nav>
                        <ul class="options-user">
                            <li><a class="list-icon" href="/painel/#meus-dados"><i class="fa-solid fa-user"></i>Meus Dados</a></li>
                            <hr>
                            <li><a class="list-icon" href="/meus-pedidos/<%= usuario.idusuarios %>"><i
                                        class="fa-sharp fa-solid fa-clipboard-list"></i>Meus Pedidos</a></li>
                            <hr>
                            <li><a class="list-icon" href="/painel/#meus-enderecos"><i class="fa-solid fa-address-card"></i>Meus Endereços</a>
                            </li>
                            <hr>
                            <li><a class="list-icon" href="/sair"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
                            </li>
                            <hr>
                        </ul>
                    </nav>
                <% }) %>
                </section>
            </aside>
            <!-- Fim do Aside -->
        </section>
        <!-- Fim do Container -->
        <!-- Início do Rodape -->
        <%- include('partials/rodape-alternativo') %>
