<%- include('partials/cabecalho-alternativo') %>
        <!-- Final do Cabeçalho --> 
        <div class="titulo-painel">
            <h1>Meus Pedidos</h1><hr> 
            
        </div>
        <!-- Início do Container -->
        <section class="container">
            <!-- início do main -->
            <main>
                               
                <% if (!pedidos) { %>
                    <h4 class="msgError"> <%= errors.server %> </h4>
                <% } else { %>
                <!-- Início da Section   Produtos -->
                <section class="produtos">
                    <!-- inicio do Scroll -->
                    <div class="scroll">
                        <!-- Início do Produto 1 -->
                        <div class="produto01">
                            <div> pedido.pedidos_idpedidos </div>
                            <div>pedido.data_compra</div>
                            <div>pedido.status_pedido</div>
                        </div>
    
                        <!-- Fim do Produto 1 -->
                <% } %>                        
                    </div>
                    <!-- fim do scroll -->
                </div>
                </section>
                <!-- Fim da Section dos Produtos -->

            </main>
            <!-- Fim do Main -->
            <!-- Início do Aside -->
            <aside>
                <section class="nav-usuario">
                <% usuarios.forEach(usuario => { %>
                 
                    <figure>
                        <img src="/images/usuario.png" alt="Foto do Usuario">
                    </figure>
                    
                    <h3><%= usuario.nome + " " + usuario.sobrenome %></h3>
                    
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Minha Conta</a><hr></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-clipboard-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;Meus Pedidos</a><hr></li>
                            <li><a href="#"><i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Meus Endereços</a><hr></li>
                            <li><a href="/sair"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Sair</a><hr></li>
                        </ul>
                    </nav>
                <% }) %>
                </section>
            </aside>
            <!-- Fim do Aside -->
        </section>
        <!-- Fim do Container -->
        <!-- Início do Rodape -->
        <%- include('partials/rodape-alternativo') %>
