<%- include('partials/alternative-header') %>


    <div class="orderFinished">

        <div class="orderFinished-left">
            <div class="orderFinished-leftTopBox">
                <span><i class="fa-solid fa-circle-check"></i></span>
                <h1>Pedido Concluido com Sucesso</h1>

                <p class="orderNumberTitle">Número do pedido</p>
                <p class="orderNumber">03-538713470</p>

                <p class="orderUserEmail">Confirmação do pedido enviado para: <br> grupo8@email.com.br</p>
            </div>
            <div class="orderFinished-leftBotBox">
                <h2>Endereço de entrega</h2>
                <p>Fulano de Tal <br> Rua 1 de Janeiro, 02 - São Paulo SP <br> CEP: 01234-678</p>

                <h2>Forma de pagamento</h2>
                <p>MasterCard 5555********6789 <br> 2x de R$ 227,75 sem juros <br>Valor Total R$
                    455,50
                </p>

                <span>Receba seu pedido até 31 de Dezembro <i class="fa-solid fa-truck-fast"></i></span>
            </div>
        </div>

        <div class="orderFinished-right">
            <h2>Resumo da compra</h2>

            <div class="orderProducts">
                <img src="https://useorganico.vteximg.com.br/arquivos/ids/166679-1000-1000/Desodrante-Natural-Sem-Perfume-120ml-Livealoe.jpg?v=637520105477430000"
                    alt="">
                <span class="orderProductsTitle">Desodorante Natural Sem Perfume 120ml - Livealoe</span>
                <span class="orderProductsAmount">Qtd: 01</span>
                <span class="orderProductsPrice">R$ 20,35</span>
            </div>
            <div class="orderProducts">
                <img src="https://useorganico.vteximg.com.br/arquivos/ids/166679-1000-1000/Desodrante-Natural-Sem-Perfume-120ml-Livealoe.jpg?v=637520105477430000"
                    alt="">
                <span class="orderProductsTitle">Desodorante Natural Sem Perfume 120ml - Livealoe</span>
                <span class="orderProductsAmount">Qtd: 01</span>
                <span class="orderProductsPrice">R$ 20,35</span>
            </div>
            <div class="orderProducts">
                <img src="https://useorganico.vteximg.com.br/arquivos/ids/166679-1000-1000/Desodrante-Natural-Sem-Perfume-120ml-Livealoe.jpg?v=637520105477430000"
                    alt="">
                <span class="orderProductsTitle">Desodorante Natural Sem Perfume 120ml - Livealoe</span>
                <span class="orderProductsAmount">Qtd: 01</span>
                <span class="orderProductsPrice">R$ 20,35</span>
            </div>


            <div class="orderFinishResume">
                <div class="orderResume-resume">
                    <p>Subtotal </p>
                    <p>R$ 249,00</p>
                </div>
                <div class="orderResume-delivery">
                    <p>Frete</p>
                    <p>R$ 11,26</p>
                </div>

                <div class="orderResume-total">
                    <p>TOTAL</p>
                    <p>R$ 509,26</p>
                </div>
            </div>
        </div>

    </div>

    <div class="orderFinishedButtons">
        <button><a href="/public/views/list-product/list.product.html">Continuar comprando</a></button>
        <button><a href="/public/views/painelDoUsuario/painelDeUsuario.html">Ir para meus pedidos</a></button>
    </div>



    <%- include('partials/alternative-footer') %>