<%- include('./partials/alternative-header') %>

    <div class="orderUserData">

        <form class="orderUserData-personal" action="">
            <h3>Dados Pessoais</h3>
            <input type="text" id="orderUserName" placeholder="Nome Completo">
            <input type="email" id="orderUserEmail" placeholder="E-mail">
            <input type="text" id="orderUserPhone" placeholder="Telefone" maxlength="11">
            <input type="text" id="orderUserDocument" placeholder="CPF" maxlength="11">

        </form>

        <form class="orderUserData-address" action="">
            <h3>Endereço de Entrega</h3>
            <input type="text" id="orderAddressStreet" placeholder="Rua">
            <div class="orderUserData-addressContainer">
                <input type="number" id="orderAddressNumber" placeholder="Nº">
                <input type="text" id="orderAddressZipCode" placeholder="CEP" maxlength="8">
            </div>
            <div class="orderUserData-addressContainer">
                <input type="text" id="orderAddressCity" placeholder="Cidade">
                <input type="text" id="orderAddressState" placeholder="Estado">
            </div>

            <input type="text" id="orderAddressComplement" placeholder="Complemento">
            <input type="text" id="orderAddressReference" placeholder="Ponto de Referencia">
        </form>

        <fieldset>

            <legend>Forma de Envio</legend>
            <div>
                <h4>PAC</h4>
                <label for="pac">
                    <input name="frete" type="radio" id="pac">
                    <div class="deliveryType-price">
                        <p class="price">Gratuito</p>
                        <p class="deadline">Entrega em 9 dias uteis</p>
                    </div>
                </label>
            </div>

            <div>
                <h4>Sedex</h4>
                <label for="sedex">
                    <input name="frete" type="radio" id="sedex">
                    <div class="deliveryType-price">
                        <p class="price">R$ 15,90</p>
                        <p class="deadline">Entrega em 2 dias uteis</p>
                    </div>
                </label>
            </div>

        </fieldset>

    </div>

    <div class="orderPaymentResume">
        <div class="orderPaymentType">

            <h3>Forma de pagamento</h3>
            <div class="orderPaymentType-container">
                <button><span>Cartão de Crédito <br> </span><i class="fa-regular fa-credit-card"></i></button>

                <button><span>Boleto Bancário <br> </span><i class="fa-solid fa-barcode"></i></button>

                <button><span>Pix <br> </span><i class="fa-brands fa-pix"></i></button>
            </div>
        </div>

        <div class="orderResume">

            <h3>Resumo da Compra</h3>
            <div class="orderResume-resume">
                <p>1 Produto </p>
                <p>R$ 249,00</p>
            </div>
            <div class="orderResume-delivery">
                <p>Frete</p>
                <p>R$ 11,26</p>
            </div>

            <div class="orderResume-total">
                <p>TOTAL</p>
                <p>R$ 509,26</p>
            </div>

        </div>
    </div>



    <div class="orderButtons">
        <button><a href="/public/views/list-product/list.product.html">Continuar comprando</a></button>
        <button><a href="/public/views/orderFinished/orderFinished.html">Finalizar pedido</a></button>
    </div>

    <%- include('./partials/alternative-footer') %>
</body>

</html>