<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/infinityCosmeticos.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/painelAdmin-login.css">
    <title>Infinity Cosméticos</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="header-container">
                <h3>Painel Administrativo</h3>
                <img src="/images/Logo3PNG.png" alt="">
            </div>
            <div class="body-container">
                <p class="msgError"><%= erro.msg %></p>
                <form action="/admin/" method="POST">
                    <input class="form-input" type="email" name="email" placeholder="E-mail">
    
                    <input class="form-input" type="password" name="senha" placeholder="Senha">
                    
                    <div class="checkbox">                        
                        <input type="checkbox" name="lembrar" id="lembrar">
                        <label for="lembrar">Lembrar-me de mim</label>
                    </div>
                    
                    <button>Entrar</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>