<<<<<<< HEAD
<%- include('partials/panelAdmin-header') %>
=======
<%- include('partials/painelAdmin-cabecalho') %>
>>>>>>> developer


        <div class="content-products">
            HOME
<<<<<<< HEAD
=======
            
>>>>>>> developer
        </div>
    </main>
</body>
</html>