<%- include('partials/cabecalho-alternativo') %>

  <section class="container-general">

    <h1>Politica de Privacidade</h1>
    <hr />

    <div id="privacy-policy">

      <p>Na Infinity Cosméticos, privacidade e segurança são prioridades e nos comprometemos com a transparência do
        tratamento de dados pessoais dos nossos usuários/clientes. Por isso, esta presente Política de Privacidade
        estabelece como é feita a coleta, uso e transferência de informações de clientes ou outras pessoas que acessam
        ou usam nosso site. </p>
      <p>Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas formas
        descritas nesta Política, sob as normas da Constituição Federal de 1988 (art. 5º, LXXIX; e o art. 22º, XXX –
        incluídos pela EC 115/2022), das normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições
        consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis. </p>
      <p>Dessa forma, a Infinity Cosméticos, doravante denominada simplesmente como “Infinity Cosméticos”, inscrita no
        CNPJ/MF sob o nº (nº do CNPJ), no papel de Controladora de Dados, obriga-se ao disposto na presente Política
        de Privacidade. </p>

      <h2>1. Quais dados coletamos sobre você e para qual finalidade?</h2>

      <p>Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar a prestação de serviços e
        aprimorar a experiência de uso. </p>

      <h3>1.1. Dados pessoais fornecidos pelo titular</h3>

      <ul>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
      </ul>

      <h3>1.2. Dados pessoais coletados automaticamente</h3>

      <ul>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
        <li>Dado e finalidade</li>
      </ul>

      <h2>2. Como coletamos os seus dados?</h2>

      <p>Nesse sentido, a coleta dos seus dados pessoais ocorre da seguinte forma: </p>

      <ul>
        <li>Como se coleta</li>
        <li>Como se coleta</li>
        <li>Como se coleta</li>
        <li>Como se coleta</li>
      </ul>

      <h3>2.1. Consentimento</h3>

      <p>É a partir do seu consentimento que tratamos os seus dados pessoais. O consentimento é a manifestação livre,
        informada e inequívoca pela qual você autoriza a Infinity Cosméticos a tratar seus dados. </p>
      <p>Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e
        armazenados mediante prévio e expresso consentimento. </p>
      <p>O seu consentimento será obtido de forma específica para cada finalidade acima descrita, evidenciando o
        compromisso de transparência e boa-fé da Infinity Cosméticos para com seus usuários/clientes, seguindo as
        regulações legislativas pertinentes. </p>
      <p>Ao utilizar os serviços da Infinity Cosméticos e fornecer seus dados pessoais, você está ciente e consentindo
        com as disposições desta Política de Privacidade, além de conhecer seus direitos e como exercê-los. </p>
      <p>A qualquer tempo e sem nenhum custo, você poderá revogar seu consentimento. </p>
      <p>É importante destacar que a revogação do consentimento para o tratamento dos dados pode implicar a
        impossibilidade da performance adequada de alguma funcionalidade do site que dependa da operação. Tais
        consequências serão informadas previamente. </p>

      <h2>3. Quais são os seus direitos?</h2>

      <p>A Infinity Cosméticos assegura a seus usuários/clientes seus direitos de titular previstos no artigo 18 da
        Lei Geral de Proteção de Dados. Dessa forma, você pode, de maneira gratuita e a qualquer tempo: </p>
      <p>Confirmar a existência de tratamento de dados, de maneira simplificada ou em formato claro e completo. </p>
      <p>Acessar seus dados, podendo solicitá-los em uma cópia legível sob forma impressa ou por meio eletrônico,
        seguro e idôneo. </p>
      <p>Corrigir seus dados, ao solicitar a edição, correção ou atualização destes.
      <p>Limitar seus dados quando desnecessários, excessivos ou tratados em desconformidade com a legislação através
        da anonimização, bloqueio ou eliminação. </p>
      <p>Solicitar a portabilidade de seus dados, através de um relatório de dados cadastrais que a Infinity
        Cosméticos trata a seu respeito. </p>
      <p>Eliminar seus dados tratados a partir de seu consentimento, exceto nos casos previstos em lei. </p>
      <p>Revogar seu consentimento, desautorizando o tratamento de seus dados.</p>
      <p>Informar-se sobre a possibilidade de não fornecer seu consentimento e sobre as consequências da negativa.
      </p>

      <h2>4. Como você pode exercer seus direitos de titular?</h2>

      <p>Para exercer seus direitos de titular, você deve entrar em contato com a Infinity Cosméticos através dos
        seguintes meios disponíveis: </p>

      <ul>
        <li>Meio de contato</li>
        <li>Meio de contato</li>
      </ul>

      <p>De forma a garantir a sua correta identificação como titular dos dados pessoais objeto da solicitação, é
        possível que solicitemos documentos ou demais comprovações que possam comprovar sua identidade. Nessa
        hipótese, você será informado previamente. </p>

      <h2>5. Como e por quanto tempo seus dados serão armazenados?</h2>

      <p>Seus dados pessoais coletados pela Infinity Cosméticos serão utilizados e armazenados durante o tempo
        necessário para a prestação do serviço ou para que as finalidades elencadas na presente Política de
        Privacidade sejam atingidas, considerando os direitos dos titulares dos dados e dos controladores. </p>
      <p>De modo geral, seus dados serão mantidos enquanto a relação contratual entre você e a Infinity Cosméticos
        perdurar. Findado o período de armazenamento dos dados pessoais, estes serão excluídos de nossas bases de
        dados ou anonimizados, ressalvadas as hipóteses legalmente previstas no artigo 16 lei geral de proteção de
        dados, a saber: </p>

      <p>I – cumprimento de obrigação legal ou regulatória pelo controlador;</p>
      <p>II – estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</p>
      <p>III – transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta
        Lei; ou</p>
      <p>IV – uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</p>

      <p>Isto é, informações pessoais sobre você que sejam imprescindíveis para o cumprimento de determinações legais,
        judiciais e administrativas e/ou para o exercício do direito de defesa em processos judiciais e
        administrativos serão mantidas, a despeito da exclusão dos demais dados. </p>
      <p>O armazenamento de dados coletados pela Infinity Cosméticos reflete o nosso compromisso com a segurança e
        privacidade dos seus dados. Empregamos medidas e soluções técnicas de proteção aptas a garantir a
        confidencialidade, integridade e inviolabilidade dos seus dados. Além disso, também contamos com medidas de
        segurança apropriadas aos riscos e com controle de acesso às informações armazenadas. </p>

      <h2>6. O que fazemos para manter seus dados seguros?</h2>

      <p>Para mantermos suas informações pessoais seguras, usamos ferramentas físicas, eletrônicas e gerenciais
        orientadas para a proteção da sua privacidade.</p>
      <p>Aplicamos essas ferramentas levando em consideração a natureza dos dados pessoais coletados, o contexto e a
        finalidade do tratamento e os riscos que eventuais violações gerariam para os direitos e liberdades do titular
        dos dados coletados e tratados. </p>
      <p>Entre as medidas que adotamos, destacamos as seguintes:
      <p>Apenas pessoas autorizadas têm acesso a seus dados pessoais</p>
      <p>O acesso a seus dados pessoais é feito somente após o compromisso de confidencialidade</p>
      <p>Seus dados pessoais são armazenados em ambiente seguro e idôneo. </p>
      <p>A Infinity Cosméticos se compromete a adotar as melhores posturas para evitar incidentes de segurança.
        Contudo, é necessário destacar que nenhuma página virtual é inteiramente segura e livre de riscos. É possível
        que, apesar de todos os nossos protocolos de segurança, problemas de culpa exclusivamente de terceiros
        ocorram, como ataques cibernéticos de hackers, ou também em decorrência da negligência ou imprudência do
        próprio usuário/cliente. </p>
      <p>Em caso de incidentes de segurança que possa gerar risco ou dano relevante para você ou qualquer um de nossos
        usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção de Dados sobre o ocorrido,
        em consonância com as disposições da Lei Geral de Proteção de Dados. </p>

      <h2>7. Com quem seus dados podem ser compartilhados?</h2>

      <p>Tendo em vista a preservação de sua privacidade, a Infinity Cosméticos não compartilhará seus dados pessoais
        com nenhum terceiro não autorizado. </p>
      <p>Seus dados poderão ser compartilhados com nossos parceiros comerciais: (nome completo ou empresarial do
        parceiro comercial), inscrito no CPF/CNPJ sob o nº (número do CPF Ou CNPJ do parceiro comercial). </p>
      <p>Estes recebem seus dados apenas na medida do necessário para a prestação dos serviços contratados e nossos
        contratos são orientados pelas normas de proteção de dados do ordenamento jurídico brasileiro. </p>
      <p>Todavia, nossos parceiros têm suas próprias Políticas de Privacidade, que podem divergir desta. Recomendamos
        a leitura desses documentos, que você pode acessar aqui: </p>
      <p>Política de Privacidade do nosso parceiro: (link para a política de privacidade do parceiro comercial). </p>
      <p>Além disso, também existem outras hipóteses em que seus dados poderão ser compartilhados, que são: </p>
      <p>I – Determinação legal, requerimento, requisição ou ordem judicial, com autoridades judiciais,
        administrativas ou governamentais competentes.</p>
      <p>II – Caso de movimentações societárias, como fusão, aquisição e incorporação, de forma automática</p>
      <p>III – Proteção dos direitos da Infinity Cosméticos em qualquer tipo de conflito, inclusive os de teor
        judicial.</p>

      <h3>7.1. Transferência internacional de dados</h3>

      <p>Alguns dos terceiros com quem compartilhamos seus dados podem ser localizados ou ou possuir instalações
        localizadas em países estrangeiros. Nessas condições, de toda forma, seus dados pessoais estarão sujeitos à
        Lei Geral de Proteção de Dados e às demais legislações brasileiras de proteção de dados</p>
      <p>Nesse sentido, a Infinity Cosméticos se compromete a sempre adotar eficientes padrões de segurança
        cibernética e de proteção de dados, nos melhores esforços de garantir e cumprir as exigências legislativas.
      </p>
      <p>Ao concordar com essa Política de Privacidade, você concorda com esse compartilhamento, que se dará conforme
        as finalidades descritas no presente instrumento. </p>

      <h2>8. Cookies ou dados de navegação</h2>

      <p>A Infinity Cosméticos faz uso de Cookies, que são arquivos de texto enviados pela plataforma ao seu
        computador e que nele se armazenam, que contém informações relacionadas à navegação do site. Em suma, os
        Cookies são utilizados para aprimorar a experiência de uso. </p>
      <p>Ao acessar nosso site e consentir com o uso de Cookies, você manifesta conhecer e aceitar a utilização de um
        sistema de coleta de dados de navegação com o uso de Cookies em seu dispositivo. </p>
      <p>A Infinity Cosméticos utiliza os seguintes Cookies: (descrição dos tipos de Cookies utilizados pelo site).
      </p>
      <p>Você pode, a qualquer tempo e sem nenhum custo, alterar as permissões, bloquear ou recusar os Cookies.
        Todavia, a revogação do consentimento de determinados Cookies pode inviabilizar o funcionamento correto de
        alguns recursos da plataforma. </p>
      <p>Para gerenciar os cookies do seu navegador, basta fazê-lo diretamente nas configurações do navegador, na área
        de gestão de Cookies. Você pode acessar tutoriais sobre o tema diretamente nos links abaixo: </p>
      <p>Se você usa o <a
          href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies"
          target="_blank" rel="noopener">Internet Explorer</a>.</p>
      <p>Se você usa o <a href="https://support.mozilla.org/pt-BR/kb/gerencie-configuracoes-de-armazenamento-local-de-s"
          target="_blank" rel="noopener">Firefox</a>.</p>
      <p>Se você usa o <a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac" target="_blank"
          rel="noopener">Safari</a>.</p>
      <p> Se você usa o <a
          href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;oco=1&amp;hl=pt-BR"
          target="_blank" rel="noopener">Google Chrome</a>.</p>
      <p>Se você usa o <a href="https://support.microsoft.com/pt-br/help/4027947/microsoft-edge-delete-cookies"
          target="_blank" rel="noopener">Microsoft Edge</a>.</p>
      <p>Se você usa o <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank"
          rel="noopener">Opera</a>.</p>
      <p>Você pode ter maiores informações sobre os Cookies que utilizamos e como eles funcionam na nossa Política de
        Cookies, disponível neste link (link para a Política de Cookies). </p>

      <h2>9. Alteração desta Política de Privacidade</h2>

      <p>A atual versão da Política de Privacidade foi formulada e atualizada pela última vez em: (data da última
        atualização da Política de Privacidade). </p>
      <p>Reservamos o direito de modificar essa Política de Privacidade a qualquer tempo, principalmente em função da
        adequação a eventuais alterações feitas em nosso site ou em âmbito legislativo. Recomendamos que você a revise
        com frequência. </p>
      <p>Eventuais alterações entrarão em vigor a partir de sua publicação em nosso site e sempre lhe notificaremos
        acerca das mudanças ocorridas. </p>
      <p>Ao utilizar nossos serviços e fornecer seus dados pessoais após tais modificações, você as consente. </p>

      <h2>10. Responsabilidade</h2>

      <p>A Infinity Cosméticos prevê a responsabilidade dos agentes que atuam nos processos de tratamento de dados, em
        conformidade com os artigos 42 ao 45 da Lei Geral de Proteção de Dados. </p>
      <p>Nos comprometemos em manter esta Política de Privacidade atualizada, observando suas disposições e zelando
        por seu cumprimento. </p>
      <p>Além disso, também assumimos o compromisso de buscar condições técnicas e organizativas seguramente aptas a
        proteger todo o processo de tratamento de dados. </p>
      <p>Caso a Autoridade Nacional de Proteção de Dados exija a adoção de providências em relação ao tratamento de
        dados realizado pela Infinity Cosméticos, comprometemo-nos a segui-las. </p>

      <h3>10.1 Isenção de responsabilidade</h3>

      <p>Conforme mencionado no Tópico 6, embora adotemos elevados padrões de segurança a fim de evitar incidentes,
        não há nenhuma página virtual inteiramente livre de riscos. Nesse sentido, a Infinity Cosméticos não se
        responsabiliza por: </p>
      <p>I – Quaisquer consequências decorrentes da negligência, imprudência ou imperícia dos usuários em relação a
        seus dados individuais. Garantimos e nos responsabilizamos apenas pela segurança dos processos de tratamento
        de dados e do cumprimento das finalidades descritas no presente instrumento.</p>
      <p>Destacamos que a responsabilidade em relação à confidencialidade dos dados de acesso é do usuário.</p>
      <p>II – Ações maliciosas de terceiros, como ataques de hackers, exceto se comprovada conduta culposa ou
        deliberada da Infinity Cosméticos.</p>
      <p>Destacamos que em caso de incidentes de segurança que possam gerar risco ou dano relevante para você ou
        qualquer um de nossos usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção de
        Dados sobre o ocorrido e cumpriremos as providências necessárias.</p>
      <p>III – Inveracidade das informações inseridas pelo usuário/cliente nos registros necessários para a utilização
        dos serviços da Infinity Cosméticos; quaisquer consequências decorrentes de informações falsas ou inseridas de
        má-fé são de inteiramente responsabilidade do usuário/cliente.</p>

      <h2>11. Encarregado de Proteção de Dados</h2>

      <p>A Infinity Cosméticos disponibiliza os seguintes meios para que você possa entrar em contato conosco para
        exercer seus direitos de titular: (meios de contato). </p>
      <p>Caso tenha dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, você pode
        entrar em contato com o nosso Encarregado de Proteção de Dados Pessoais, através dos seguintes canais: </p>
      <p> [Nome do Encarregado (CPF do Encarregado)] </p>
      <p> [Email do Encarregado] </p>

    </div>

  </section>

  <section class="container-general">

    <div id="terms-use">

      <h1>Termos de Uso</h1>
      <hr />

      <p>Seja bem-vindo ao nosso site. Leia com atenção todos os termos abaixo.</p>
      <p>Este documento, e todo o conteúdo do site é oferecido por Infinity Cosméticos, neste termo representado
        apenas por “EMPRESA”, que regulamenta todos os direitos e obrigações com todos que acessam o site,
        denominado neste termo como “VISITANTE”, resguardado todos os direitos previstos na legislação, trazem as
        cláusulas abaixo como requisito para acesso e visita do mesmo, situado no endereço (ADICIONAR ENDEREÇO DO
        SITE). </p>
      <p>A permanência no website implica-se automaticamente na leitura e aceitação tácita do presente termos de uso
        a seguir. Este termo foi atualizado pela última vez em 14 de novembro de 2022. </p>

      <h2>1. DA FUNÇÃO DO SITE</h2>

      <p>Este site foi criado e desenvolvido com a função de trazer conteúdo informativo de alta qualidade, a venda
        de produtos físicos, digitais e a divulgação de prestação de serviço. A EMPRESA busca através da criação de
        conteúdo de alta qualidade, desenvolvido por profissionais da área, trazer o conhecimento ao alcance de
        todos, assim como a divulgação dos próprios serviços. </p>
      <p>Nesta plataforma, poderá ser realizado tanto a divulgação de material original de alta qualidade, assim
        como a divulgação de produtos de e-commerce. </p>
      <p>Todo o conteúdo presente neste site foi desenvolvido buscando fontes e materiais de confiabilidade, assim
        como são baseados em estudos sérios e respeitados, através de pesquisa de alta nível. </p>
      <p>Todo o conteúdo é atualizado periodicamente, porém, pode conter em algum artigo, vídeo ou imagem, alguma
        informação que não reflita a verdade atual, não podendo a EMPRESA ser responsabilizada de nenhuma forma ou
        meio por qualquer conteúdo que não esteja devidamente atualizado. </p>
      <p>É de responsabilidade do usuário de usar todas as informações presentes no site com senso crítico,
        utilizando apenas como fonte de
      <p>informação, e sempre buscando especialistas da área para a solução concreta do seu conflito. </p>

      <h2>2. DO ACEITE DOS TERMOS</h2>

      <p>Este documento, chamado “Termos de Uso”, aplicáveis a todos os visitantes do site, foi desenvolvido por
        Diego Castro Advogado – OAB/PI 15.613, modificado com permissão para este site. </p>
      <p>Este termo especifica e exige que todo usuário ao acessar o site da EMPRESA, leia e compreenda todas as
        cláusulas do mesmo, visto que ele estabelece entre a EMPRESA e o VISITANTE direitos e obrigações entre ambas
        as partes, aceitos expressamente pelo VISITANTE a permanecer navegando no site da EMPRESA. </p>
      <p>Ao continuar acessando o site, o VISITANTE expressa que aceita e entende todas as cláusulas, assim como
        concorda integralmente com cada uma delas, sendo este aceite imprescindível para a permanência na mesma.
        Caso o VISITANTE discorde de alguma cláusula ou termo deste contrato, o mesmo deve imediatamente interromper
        sua navegação de todas as formas e meios. </p>
      <p>Este termo pode e irá ser atualizado periodicamente pela EMPRESA, que se resguarda no direito de alteração,
        sem qualquer tipo de aviso prévio e comunicação. É importante que o VISITANTE confira sempre se houve
        movimentação e qual foi a última atualização do mesmo no começo da página. </p>

      <h2>3. DO GLOSSÁRIO</h2>

      <p>Este termo pode conter algumas palavras específicas que podem não se de conhecimento geral. Entre elas:
      </p>

      <ul>
        <li>VISITANTE: Todo e qualquer usuário do site, de qualquer forma e meio, que acesse através de computador,
          notebook, tablet, celular ou quaisquer outros meios, o website ou plataforma da empresa.</li>
        <li>NAVEGAÇÃO: O ato de visitar páginas e conteúdo do website ou plataforma da empresa.</li>
        <li>COOKIES: Pequenos arquivos de textos gerados automaticamente pelo site e transmitido para o navegador do
          visitante, que servem para melhorar a usabilidade do visitante.</li>
        <li>LOGIN: Dados de acesso do visitante ao realizar o cadastro junto a EMPRESA, dividido entre usuário e
          senha, que dá acesso a funções restritas do site.</li>
        <li>HIPERLINKS: São links clicáveis que podem aparecer pelo site ou no conteúdo, que levam para outra página
          da EMPRESA ou site externo.</li>
        <li>OFFLINE: Quando o site ou plataforma se encontra indisponível, não podendo ser acessado externamente por
          nenhum usuário.</li>
      </ul>

      <p>Em caso de dúvidas sobre qualquer palavra utilizada neste termo, o VISITANTE deverá entrar em contato com a
        EMPRESA através dos canais de comunicação encontradas no site. </p>

      <h2>4. DO ACESSO AO SITE</h2>

      <p>O Site e plataforma funcionam normalmente 24 (vinte e quatro) horas por dia, porém podem ocorrer pequenas
        interrupções de forma temporária para ajustes, manutenção, mudança de servidores, falhas técnicas ou por
        ordem de força maior, que podem deixar o site indisponível por tempo limitado. </p>
      <p>A EMPRESA não se responsabiliza por nenhuma perda de oportunidade ou prejuízos que esta indisponibilidade
        temporária possa gerar aos usuários. </p>
      <p>Em caso de manutenção que exigirem um tempo maior, a EMPRESA irá informar previamente aos clientes da
        necessidade e do tempo previsto em que o site ou plataforma ficará offline. </p>
      <p>O acesso ao site só é permitido a maiores de 18 anos de idade ou que possuírem capacidade civil plena. Para
        acesso de menores de idade, é necessária a expressa autorização dos pais ou tutores, ficando o mesmo
        responsáveis sobre qualquer compra ou acesso efetuados pelo mesmo. </p>
      <p>Caso seja necessário realizar um cadastro junto a plataforma, onde o VISITANTE deverá preencher um
        formulário com seus dados e informações, para ter acesso a alguma parte restrita, ou realizar alguma compra.
      </p>
      <p>Todos os dados estão protegidos conforme a Lei Geral de Proteção de Dados, e ao realizar o cadastro junto
        ao site, o VISITANTE concorda integralmente com a coleta de dados conforme a Lei e com a Política de
        Privacidade da EMPRESA. </p>

      <h2>5. DA LICENÇA DE USO E CÓPIA</h2>

      <p>O visitante poderá acessar todo o conteúdo do website, como artigos, vídeos, imagens, produtos e serviços,
        não significando nenhum tipo de cessão de direito ou permissão de uso, ou de cópia dos mesmos. </p>
      <p>Todos os direitos são preservados, conforme a legislação brasileira, principalmente na Lei de Direitos
        Autorais (regulamentada na <a href="http://www.planalto.gov.br/ccivil_03/leis/l9610.htm">Lei nº
          9.610/18</a>), assim como no Código Civil brasileiro (regulamentada na <a
          href="http://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm">Lei nº 10.406/02</a>), ou
        quaisquer outras legislações aplicáveis. </p>
      <p>Todo o conteúdo do site é protegido por direitos autorais, e seu uso, cópia, transmissão, venda, cessão ou
        revenda, deve seguir a lei brasileira, tendo a EMPRESA todos os seus direitos reservados, e não permitindo a
        cópia ou utilização de nenhuma forma e meio, sem autorização expressa e por escrita da mesma. </p>
      <p>A EMPRESA poderá em casos concretos permitir pontualmente exceções a este direito, que serão claramente
        destacados no mesmo, com a forma e permissão de uso do conteúdo protegido. Este direito é revogável e
        limitado as especificações de cada caso. </p>

      <h2>6. DAS OBRIGAÇÕES</h2>

      <p>O VISITANTE ao utilizar o website da EMPRESA, concorda integralmente em:</p>

      <ul>
        <li>De nenhuma forma ou meio realizar qualquer tipo de ação que tente invadir, hacker, destruir ou
          prejudicar a estrutura do site, plataforma da EMPRESA ou de seus parceiros comerciais. Incluindo-se, mas
          não se limitando, ao envio de vírus de computador, de ataques de DDOS, de acesso indevido por falhas da
          mesma ou quaisquer outras forma e meio.</li>
        <li>De não realizar divulgação indevida nos comentários do site de conteúdo de SPAM, empresas concorrentes,
          vírus, conteúdo que não possua direitos autorais ou quaisquer outros que não seja pertinente a discussão
          daquele texto, vídeo ou imagem.</li>
        <li>Da proibição em reproduzir qualquer conteúdo do site ou plataforma sem autorização expressa, podendo
          responder civil e criminalmente pelo mesmo.</li>
        <li>Com a Política de Privacidade do site, assim como tratamos os dados referentes ao cadastro e visita no
          site, podendo a qualquer momento e forma, requerer a exclusão dos mesmos, através do formulário de
          contato.</li>
      </ul>

      <h2>7. DA MONETIZAÇÃO E PUBLICIDADE</h2>

      <p>A EMPRESA pode alugar ou vender espaços publicitários na plataforma, ou no site, diretamente aos
        anunciantes, ou através de empresas especializadas com o Adsense (Google), Taboola ou outras plataformas
        especializadas como o EletroCriticas.com</p>
      <p>Essas publicidades não significam nenhuma forma de endosso ou responsabilidade pelos mesmos, ficando o
        VISITANTE responsável pelas compras, visitas, acessos ou quaisquer ações referentes as estas empresas. </p>
      <p>Todas as propagandas no site ou plataforma serão claramente destacadas como publicidade, como forma de
        disclaimer da EMPRESA e de conhecimento do VISITANTE. </p>
      <p>Em casos de compra de produtos ou serviços, será possível a devolução em até 07 (sete) dias, conforme o
        Código de Defesa do Consumidor. </p>
      <p>Estes anúncios podem ser selecionados pela empresa de publicidade automaticamente, conforme as visitas
        recentes do VISITANTE, assim como baseado no seu histórico de busca, conforme as políticas de acesso da
        plataforma. </p>

      <h2>8. DOS TERMOS GERAIS</h2>

      <p>O Site irá apresentar hiperlinks durante toda a sua navegação, que podem levar diretamente para outra
        página da EMPRESA ou para sites externos. </p>
      <p>Apesar da EMPRESA apenas criar links para sites externos de extrema confiança, caso o usuário acesse um
        site externo, a EMPRESA não tem nenhuma responsabilidade pelo meio, sendo uma mera indicação de
        complementação de conteúdo, ficando o mesmo responsável pelo acesso, assim como sobre quaisquer ações que
        venham a realizar neste site. </p>
      <p>Em caso que ocorra eventuais conflitos judiciais entre o VISITANTE e a EMPRESA, o foro elegido para a
        devida ação será o da comarca da Empresa, mesmo que haja outro mais privilegiado. </p>

    </div>

  </section>

  <section class="container-general">

    <h1>Política de Cookies</h1>
    <hr />

    <div id="cookie-policy">

      <p>Este documento possui a finalidade de estabelecer alguns parâmetros para tratamento de dados que incluem,
        não taxativamente, a recepção, transmissão, compartilhamento, armazenamento, acesso, comunicação,
        modificação ou transferência das informações coletadas de nossos USUÁRIOS, além de registrar toda e qualquer
        atividade realizada dentro da plataforma, de acordo com a legislação aplicável.</p>
      <p>O USUÁRIO confere sua livre e expressa concordância perante este instrumento ao aceitar essa POLÍTICA DE
        COOKIES. </p>

      <h2>1 – GLOSSÁRIO</h2>

      <h3>1.1 – Para melhorar o desempenho e sua experiência em nosso site, utilizamos cookies, devendo ser
        consideradas as seguintes definições acerca desta Política: </h3>

      <p>COOKIES – São arquivos de texto criados pelo site e armazenados no dispositivo que acessa a plataforma.
        (notebooks, tablets, smartphones, etc. ). Quando a condição de “permissão” estiver habilitada, o
        armazenamento de cookies ocorrerá de forma automática. Estes pequenos pacotes de dados visam identificar e
        coletar as informações do USUÁRIO para aprimorar os serviços do nosso site. </p>
      <p>DADOS: Conjunto de informações anônimas (ou dados anonimizados) e pessoais. </p>
      <p>DADOS ANONIMIZADOS: Informações isoladas que não permite a identificação do USUÁRIO. Incluem a coleta de
        gênero, localização, idade, etc. </p>
      <p>DADOS PESSOAIS: Informações da pessoa natural identificada por meio do sistema. Incluem nome, endereço,
        telefone, redes sociais, etc. </p>
      <p>HIPERLINKS: Um link clicável que pode aparecer no site ou estar disposto em algum conteúdo, que direciona o
        USUÁRIO para outra página na plataforma ou site externo, seja parceiro ou não. </p>
      <p>NAVEGAÇÃO: Ato de interagir, pesquisar, adquirir ou consumir algum material ou conteúdo em nossa
        plataforma, site ou aplicativo. </p>
      <p>USUÁRIO: Visitantes do site que acessem independente do meio a nossa plataforma, site ou aplicativo.
        Deverá, necessariamente, ter capacidade legal para aceitar os termos e condições da presente Política de
        Cookies e demais documentos legais da plataforma.</p>
      <p>Havendo dúvidas acerca de qualquer termo ou palavra empregada nesta Política de Cookies, o VISITANTE/
        USUÁRIO poderá entrar em contato com a plataforma através dos nossos canais de comunicação.</p>

      <h2>2 – Coleta de dados</h2>

      <p>A coleta de informações e dados de nossos USUÁRIOS ocorre na medida em que ele nos fornece, por meio de
        acesso e uso no site, clics em hiperlinks, interação nos aplicativos e serviços do site, suas preferências e
        referências.</p>

      <h3>2.1 – Os dados serão coletados:</h3>

      <ul>
        <li>quando o USUÁRIO inserir ou submeter voluntariamente suas informações na nossa plataforma ou acessar
          algum serviço oferecido pelo site, também poderá ocorrer por meio da interação e navegação com o conteúdo
          exposto no website.</li>
        <li>quando o USUÁRIO inserir ou submeter voluntariamente dados de terceiros no nosso site, uma vez declarada
          a autorização da utilização desses dados perante o site.</li>
        <li>quando não necessariamente utilizar-se-á a ação do USUÁRIO, uma vez que a automatização do sistema se
          responsabiliza pela coleta de dados disponíveis por meio dos Cookies.</li>
        <li>por meio de parceiros que tenham sido autorizados pelos nossos USUÁRIOS a compartilharem seus dados
          conosco.</li>
      </ul>

      <h3>2.2 – As informações coletadas podem incluir, não se limitando, os seguintes dados:</h3>

      <ul>
        <li>nome;</li>
        <li>gênero;</li>
        <li>endereço (por meio da geolocalização);</li>
        <li>endereço de IP;</li>
        <li>endereço de e-mail;</li>
        <li>dados bancários (cartões de crédito, por exemplo.);</li>
        <li>números de documentos (CPF, Carteira de Identidade, etc.)</li>
        <li>data de nascimento;</li>
        <li>informações de pagamento;</li>
        <li>agenda de contatos;</li>
        <li>dados biométricos;</li>
        <li>links, hiperlinks e serviços clicados, etc.</li>
      </ul>

      <p>Os demais dados que podem ser objeto de coleta estão dispostos, também, na Política de Privacidade. </p>

      <h3>2.3 – Os cookies utilizados pelo nosso site e aplicações estão condicionados à validade de sua coleta:
      </h3>

      <ul>
        <li>1. Cookies de sessão: permanece com o site até o mesmo ser fechado. As informações coletadas permitem a
          identificação de problemas e visam o fornecer melhores experiências aos USUÁRIOS.</li>
        <li>2. Cookies permanentes: mesmo após o fechamento da plataforma, esses cookies ainda ficarão armazenados
          na memória do navegador de internet do dispositivo que você está acessando. São utilizados cada vez que o
          utilizador visita o website para orientar a navegação de acordo com as preferências pessoais, que são
          recolhidas através destes cookies.</li>
      </ul>

      <p>Os cookies utilizados podem ser tanto de titularidade própria, possuindo, a plataforma, total controle
        sobre os cookies; ou de titularidade de terceiros, incluídos nos dispositivos dos USUÁRIOS por meio dos
        sites, plataformas, hiperlinks, serviços e funções que possuímos parceria.</p>

      <h2>3 – Finalidade da coleta de Cookies: </h2>

      <p>Nossos cookies possuem diferentes funções e finalidades, a seguir listamos os tipos que podem ser
        utilizados no nosso site. </p>

      <ul>
        <li>cookies essenciais: necessários para que a plataforma funcione corretamente e forneça, perfeitamente, os
          serviços que estão disponíveis aos nossos USUÁRIOS. Sendo que, sob pena do mau funcionamento da
          plataforma, o website não será capaz de prestar, com eficiência, todas as ferramentas ou recursos a ele
          associado.</li>
        <li>cookies de performance: responsável por coletar informações anônimas sobre como os USUÁRIOS usam e
          interagem com a plataforma e com as ferramentas fornecidas.</li>
        <li>cookies de funcionalidade: associados à memória dos dados fornecidos, estes cookies permitem que a
          plataforma lembre das eventuais escolhas feitas pelo USUÁRIO, o direcionando às funções que o mesmo pode
          vir a optar. É responsável por proporcionar melhores experiências e garantir praticidade ao USUÁRIO. Essas
          informações também podem estar associadas aos dados anonimizados, que não irão rastrear a atividade do
          USUÁRIO fora do espaço da plataforma.</li>
        <li>cookies analíticos: utilizamos estes cookies com a funcionalidade de monitorar e analisar com nossos
          USUÁRIOS usam as ferramentas e as funcionalidades da plataforma. Nos permitindo verificar eventuais falhas
          no site e proporcionar praticidade e customização para os USUÁRIOS. Além disso, baseados nesses cookies,
          podemos destacar os principais serviços ou artigos que pensamos ser de maior interesse de nossos USUÁRIOS.
        </li>
        <li>cookies de publicidade: semelhante à coleta anterior, esses cookies visam direcionar a publicidade da
          plataforma em função das escolhas e das preferências de nossos USUÁRIOS, verificando o número de visitas,
          número de interação e qualidade desta. Estes cookies ajudam a plataforma [mencionar o nome da plataforma/
          site] a dimensionar a eficácia de sua publicidade.</li>
        <li>cookies de segurança: evitando que os dados de nossos USUÁRIOS estejam vulneráveis a ataques maliciosos
          de terceiros, estes cookies armazenam as informações de modo criptografado.</li>
        <li>cookies sociais: estabelecidos pelas plataformas de redes sociais e de comunicação, estes cookies
          permitem o compartilhamento do conteúdo acessado pelo USUÁRIO à nossa plataforma. A coleta fornecida por
          terceiros tem a capacidade de rastrear a atividade do USUÁRIO fora de sua linha de serviços,
          compartilhando com nossa plataforma, as suas preferências.</li>
      </ul>

      <h2>4 – Da autorização</h2>

      <p>Depois de autorizada a utilização de cookies, o USUÁRIO tem a seu dispor a opção de desativá-los assim que
        tiver interesse, podendo optar, ainda, inativar parte ou a totalidades dos nossos cookies. </p>
      <p>A princípio, todos os dispositivos permitem que o utilizador aceite, recuse, apague ou administre cookies,
        através das funções do próprio programa do respectivo navegador. Podendo ser configurados, em geral, no menu
        “opções” ou “preferências”, dependendo do seu dispositivo. </p>
      <p>Lembramos que a função de desativar cookies não nos permite oferecer aos nossos USUÁRIOS a excelente
        prestação de serviço que objetivamos, já que partes de nossa plataforma podem apresentar instabilidades e
        não funcionar corretamente. </p>

      <h2>5 – Da legitimação do tratamento dos cookies</h2>

      <p>Por consentimento do interessado, a Política de Cookies se aplicará aos dispositivos que autorizarem o
        acesso aos dados anonimizados e pessoais de nossos USUÁRIOS. </p>

      <h2>6 – Da comunicação dos dados</h2>

      <p>Em via de regra, não se comunicarão os dados a terceiros, exceto em caso de cookies de propriedade de
        outros sites, por obrigação legal, ou por hiperlinks parceiros à nossa plataforma. </p>

      <h2>7 – Direitos do USUÁRIO</h2>

      <p>Assistem ao USUÁRIO alguns direitos perante esta Política de Cookies, desde que o USUÁRIO tenha capacidade
        de interagir com o sistema da plataforma. </p>

      <ul>
        <li>retirada de consentimento desta Política;</li>
        <li>acesso, controle, retificação, limitação e oposição ao tratamento de seus dados;</li>
        <li>contestar a utilização de seus dados junto aos administradores da plataforma, entrando em contato pela
          aba de contato.</li>
      </ul>

    </div>

  </section>

  <%- include('partials/rodape-alternativo') %>