<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/product-description.css">
  <script src="/javascripts/product-description.js" defer></script>
  <script src="/javascripts/addCart.js" defer></script>
  
  <title>Document</title>
</head>
<body>
  <div class="banner-frete"><a>GRÁTIS ACIMA DE R$ 249,90 - TODO BRASIL</a></div>
    <header id="header">
      <div class="header-principal">
        <div class="container-header">
        <div class="header-logo">
          <img src="/images/Logo3PNG.png" alt="">
          <span><strong>Infinity</strong> Cosméticos</span>
        </div>
        <div class="header-search">
          <input class="header-input" type="text" placeholder="Pesquisar Produto...">
          <button><img src="/images/lupa-arredondada.png" alt=""></button>
        </div>  
        <div class="header-links">
          <div class="links-favorites">
            <img src="/images/coracao.png" alt="">
            <a>Lista de Desejos</a>
          </div>
          <div class="links-account">
            <img src="/images/account2.png" alt="">
            <a>Minha Conta</a>
          </div>
          <div class="links-cart">
            <img src="/images/shopping-bag.png" alt="">
          </div>
        </div>
        </div>
        <div class="navbar">
          <div class="navbar-products">
            <img src="/images/menu-arredondado.png" alt="">
            <span>Todos os departamentos</span>
          </div>
          <div class="navbar-listcategories">
            <li>Cabelos</li>
            <li>Tratamentos</li>
            <li>Corpo e Banho</li>
            <li>Maquiagem</li>
            <li>Aromaterapia</li>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="links-filter">
        <a href="">Home ></a>
        <a href="">Marcas de A-Z ></a>
        <a href="">Gestante e Bebê ></a>
        <a href="">Bebê</a>
      </div>
      <div class="products">
        <div class="products-left">
          <img id="img-product" src="/images/products/Pasta-Dental-Natural-Baby-com-Extratos-de-Banana-Camomila-e-Erva-Cidreira-50g-Organico-Natural.jpg" alt="Imagem do Produto">
        </div>
        <div class="products-rigth">
          <div class="products-reference">
            <div class="products-categories">
              <a href="">Orgânico Natural</a>
              <span class="code-product">Ref: 00002</span>
            </div>  
            <div class="products-favorite">
              <img src="/images/coracao.png" alt="">
            </div>
          </div>
          <div class="title-product">            
            <h3>Creme Dental Natural Baby de Banana, 
              Camomila e Erva Cidreira 50g – Orgânico Natural</h3>
            <img src="/images/compartilhar.png" alt="">
          </div>
          <div class="stars-rating">
            <img src="/images/estrela.png" alt="">
            <img src="/images/estrela.png" alt="">
            <img src="/images/estrela.png" alt="">
            <img src="/images/estrela.png" alt="">
            <img src="/images/estrela.png" alt="">
            <span>9 Avaliações</span>
          </div>
          <div class="product-price">
            <h5>De: 19,90</h5>
            <span>Por:<strong>R$ 9,90</strong></span>
          </div>
          <div class="product-add">
            <div class="button-add">
            <button id="button-small">-</button>
            <span class="quantity-products" id="qtdProducts">1</span>
            <button id="button-larger">+</button>
            </div>
            <button class="add-cart" id="add-cart">Adicionar</button>
          </div>
          <div class="calculator-freight">
            <div class="freight-header">
              <img src="/images/caminhao-de-entrega.png" alt="">
            <span>Consulte o frete e a disponibilidade</span>
            </div>
            <div class="freight-field">
              <input type="number">
              <button>Calcular</button>
            </div>                        
          </div>
        </div>  
      </div>
      <div class="products-tables">
        <div class="assessments">
          <button id="rating">Avaliações</button>
          <button id="info-product">Informações do produto</button>
        </div>
        <div class="description-product">
          <div class="products-composition">
            <div class="product-information">
              <h3>O que ele é?</h3>
              <p>A Pasta Dental Natural Baby com Extratos de Banana, Camomila e Erva Cidreira da Orgânico Natural da Orgânico Natural foi desenvolvido higienie bucal de bebês e crianças, possui uma fórmula exclusiva certificada com matérias-primas orgânicas e naturais de ação anticárie. Possui um delicioso sabor natural de banana estimula as crianças a manterem bons hábitos de higiene bucal, não contém substâncias prejudiciais ao organismo em caso de Ingestão, pois não possui flúor, sem parabeno, sem glutén, sem sulfato, sem propileno glicol e sem corantes artificiais.</p>          
              <strong>Características:</strong>
              <ul>
                <li>Produto Natural e Vegano</li>
                <li>Delicioso sabor natural de banana</li>
                <li>Não contém substâncias prejudiciais ao organismo</li>
                <li>Fórmula livre de flúor</li>
                <li>Embalagem reciclável</li>
              </ul>
            </div>
            <div class="product-information">
              <h3>O que ele tem?</h3>
              <strong>Ingredientes:</strong>
              <p>Extrato de Camomila: suavizante, anti-inflamatória e antisséptica.</p>
              <p>Extrato de Erva Cidreira: ação adstringente e suavizante. Rica em oxidantes e nutrientes que protegem a pele.</p>
              <p>Extrato de Banana: rico em cálcio e magnésio, ajuda na produção de saliva..</p>
              <p>Composição: Sorbitol, xylitol, sodium benzoate, hydrates silica, xanthan gum, aroma, aqua.</p>
              <p>Fórmula livre de: álcool, flúor, triclosan, parabenos, glúten, conservantes químicos, corantes artificiais e produtos de origem animal. Não é testado em animais.</p>
            </div>
            <div class="product-information">
              <h3>Por que usar?</h3>
              <p>É Natural, Vegano e Cruelty free
                Limpa os dentes naturalmente e ajuda na produção de saliva;
                Possui uma ação suavizante e refrescante;
                Livre de flúor e substâncias nocivas à saúde do bebê ou criança
                </p>
                <strong>Indicação</strong>
                <p>A Pasta Dental Natural Baby com Extratos de Banana, Camomila e Erva Cidreira da Orgânico Natural é indicado para higiene bucal diária de bebês e crianças.</p>
            </div>
            <div class="product-information">
              <h3>Como usar?</h3>
              <p>Recomendamos utilizar a Pasta Dental Natural Baby com Extratos de Banana, Camomila e Erva Cidreira da Orgânico Natural após as refeições de bebês e crianças ou de acordo com as necessidades diárias.
              </p>
              <strong>Precauções</strong>
              <p>Manter fora do alcance de crianças. Havendo irritação suspenda o uso, não usar sob a pele ferida. Conservar em local fresco. Uso externo. Não ingerir. Deve ser aplicado por um Adulto ou sob sua supervisão.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-rating">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, cum ut! Soluta similique blanditiis numquam ex quasi laboriosam neque iure voluptatem, nam voluptatum velit accusantium modi dolorem, quos quisquam temporibus?</p>
      </div>
    </div>
</body>
</html>