<%- include('partials/header') %>
    <!-- Final do Cabeçalho -->
    <div class="titulo-painel">
        <h1>Painel do Usuario</h1>
        <hr>

    </div>
    <!-- Início do Container -->
    <section class="container">
        <!-- início do main -->
        <main>
            <!-- Início da Section   Produtos -->
            <section class="produtos">
                <!-- inicio do Scroll -->
                <div class="scroll">
                    <!-- Início do Produto 1 -->
                    <div class="produto01">
                        <span>
                            <label>Produto</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>#0000000001</label>
                        </span><br><br>
                        <div class="cont-produto01">
                            <figure>
                                <img src="/public/images/img-produto01.jpeg">
                            </figure>
                            <div class="info-produto01">
                                <h3>Creme Facial + Protetor Solar - Sweet Rose</h3><br>
                                <p><strong>R$ 250,00 - x1</strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- Fim do Produto 1 -->

                    <!-- Início do Produto 2 -->
                    <div class="produto02">
                        <span>
                            <label>Produto</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>#0000000002</label>
                        </span><br><br>
                        <div class="cont-produto02">
                            <figure>
                                <img src="/public/images/img-produto01.jpeg">
                            </figure>
                            <div class="info-produto02">
                                <h3>Oléo Terapêutico - Brisa do Mar</h3><br>
                                <p><strong>R$ 250,00 - x1</strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- Fim do Produto 2 -->

                    <!-- Inicio do produto 3 -->
                    <div class="produto02">
                        <span>
                            <label>Produto</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>#0000000002</label>
                        </span><br><br>
                        <div class="cont-produto02">
                            <figure>
                                <img src="/public/images/img-produto01.jpeg">
                            </figure>
                            <div class="info-produto02">
                                <h3>Oléo Terapêutico - Brisa do Mar</h3><br>
                                <p><strong>R$ 250,00 - x1</strong></p>
                            </div>
                        </div>
                        <!-- fim do produto 3 -->
                    </div>
                    <!-- fim do scroll -->
                </div>
            </section>
            <!-- Fim da Section dos Produtos -->

            <!-- Início da Section dos Dados Pessoais -->
            <section class="dadospessoais">
                <h2>Dados Pessoais</h2>
                <div class="grupo-dados">
                    <div class="dados01">
                        <label><strong>Nome Completo:</strong></label>
                        <p>Nicollas Henrique</p><br>
                        <label><strong>E-Mail:</strong></label>
                        <p>exemplo@exemplo.com</p><br>
                        <label><strong>CPF:</strong></label>
                        <p>012.345.678-00</p>
                    </div>
                    <div class="dados02">
                        <label><strong>Data de Nascimento:</strong></label>
                        <p>31/03/1987</p><br>
                        <label><strong>Telefone:</strong></label>
                        <p>(11) 9 0000-0000</p><br>
                        <label><strong>Endereço:</strong></label>
                        <p>Rua das Pitagas, 31<br>São Paulo - SP</p>
                    </div>
                </div><br>
                <button>Alterar Dados</button>
            </section>
            <!-- Fim da Section dos Dados Pessoais -->
        </main>
        <!-- Fim do Main -->
        <!-- Início do Aside -->
        <aside>
            <section class="nav-usuario">
                <figure>
                    <img src="/public/images/usuario.png" alt="Foto do Usuario">
                </figure>
                <h3>Nicollas Henrique</h3>
                <nav>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;Minha Conta</a>
                            <hr>
                        </li>
                        <li><a href="/public/views/orderFinished/orderFinished.html"><i
                                    class="fa-sharp fa-solid fa-clipboard-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;Meus
                                Pedidos</a>
                            <hr>
                        </li>
                        <li><a href="#"><i class="fa-solid fa-address-card"></i>&nbsp;&nbsp;Meus Endereços</a>
                            <hr>
                        </li>
                        <li><a href="/index.html"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Sair</a>
                            <hr>
                        </li>
                    </ul>
                </nav>
            </section>
        </aside>
        <!-- Fim do Aside -->
    </section>
    <!-- Fim do Container -->
    <!-- Início do Rodape -->
<%- include('partials/alternative-footer') %>