<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="painelAdm-Adicionar.css">
    <link rel="stylesheet" href="/public/views/painelAdm-AdicionarProduto/painelAdm-AdicionarProduto.css">
    <script src="https://kit.fontawesome.com/0ad644d1e0.js" crossorigin="anonymous"></script>
    <title>Painel Administrativo - Infinity Cosméticos</title>
</head>
<body>
    <header>
        <div class="info-header">
            <div class="logo">
                <head>Infinity Cosméticos</head>
            </div>
            <div class="header-icon-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>    
        <div class="info-header">
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-solid fa-user"></i>
        </div>
        
    </header>
    <main>
        <div class="sidebar">
            <h3 class="title-sidebar"><a href="/public/views/painelAdm-AdicionarProduto/painelAdm-home.html">Home</a></h3>
            <nav>
                <h3>Produtos</h3>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Categorias</a>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Marca</a>
                <a class="link-sidebar" href="/public/views/painelAdm-AdicionarProduto/painelAdm-AdicionarProduto.html"><i class="fa-solid fa-plus"></i> Produtos</a>
            </nav>
            <nav>
                <h3>Usuários</h3>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Usuários</a>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Permissões</a>
            </nav>
        </div>
        <div class="content-products">
            HOME
        </div>
    </main>
</body>
</html>