<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/0ad644d1e0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/img/infinityCosmeticos.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/<%= css %>">
    <title>Infinity Cosmeticos</title>
</head>

<body>
    <header class="orderHeader">
        <div class="orderHeader-container">

            <a href="../../../index.html"><img src="../../img/infinityCosmeticosLogo.png"
                    alt="Logotipo Infinity Cosmeticos"></a>

            <div class="orderHeader-safeBuy">
                <h3>sua compra segura</h3>
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </header>