@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
/*@import url('../../css/header.css');
@import url('../../css/headerAlternate.css');*/
/*@import url('../../css/footerAlternative.css');
@import url('../../css/footer.css');*/

:root {
  --bg-lightcolor: #d0e1aa;
  --bg-midlelightcolor: #bfd68b;
  --bg-midlecolor: #9ab669;
  --bg-darkcolor: #4e6122;
  --offwhite: #f7f4eb;
  --offwhite-lightborder: #fffaf0;
  --offwhite-darkborder: #dbcea6;
  --gray: #b5c1b8;
  --darkorange: darkorange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--offwhite);
}

#login {
  margin: 2rem;
  padding: 2rem;  
}

#login h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--bg-darkcolor);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#login hr {
  border: 0;
  height: 0.2rem;
  background-image: linear-gradient(
    to right,
    transparent,
    #4e6122,
    transparent
  );
}

#container-login {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  padding: 2rem;
  max-width: 90%;
}

#first-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  width: 65rem;
  height: 25rem;
  box-shadow: 4px 4px 4px 4px var(--gray);
}

#first-login h2 {
  font-size: 2rem;
  color: var(--bg-darkcolor);
  margin-bottom: 1rem;
}

#first-login input {
  background-color: #ffff;
  border: none;
  width: 80%;
  height: 4rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  box-shadow: 5px 4px 4px var(--gray);
  font-size: 2rem;
  transition: all 0.15s ease-in-out;
}

#first-login input:focus{
outline: 0.1rem solid var(--bg-darkcolor);
}

#first-login input:hover {
  box-shadow:
  1px 1px var(--gray),
  2px 2px var(--gray),
  3px 3px var(--gray);
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

#email::placeholder,
#pwd::placeholder {
  padding: 0.5rem;
  font-size: 1.5rem;
}

#first-login p {
  font-size: 1.5rem;
  color: var(--bg-darkcolor);
  margin-bottom: 1rem;
  font-weight: 700;
}

#container-login button {
  background-color: var(--bg-darkcolor);
  border: none;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 3rem;
  font-weight: 700;
  transition: all 0.15s ease-in-out;
}

#container-login button:hover {
  filter: brightness(115%);
-webkit-transform: translateX(-2px);
transform: translateX(-2px);  
}

.first-login-buttom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first-login button {
  width: 17rem;
  height: 3rem;
  font-size: 1.8rem;
  text-align: center;
  color: #f7f4eb;
  border-radius: 3rem;
}

#second-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 65rem;
  height: 25rem;
  box-shadow: 4px 4px 4px 4px var(--gray);
  gap: 1.5rem;
}

#second-login button {
  width: 25rem;
  height: 3.3rem;
  font-size: 1.5rem;
  color: #f7f4eb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem 1rem;
}

#desc {
  font-size: 1.7rem;
  color: var(--bg-darkcolor) 2;
  font-weight: 700;
}

#desc strong {
  color: var(--darkorange);
}

#buttonGoogle,
#buttonRegister {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonGoogle img {
  max-width: 2.5rem;
  border-radius: 1rem;
}
