main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #4E6122;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right, transparent, #4E6122, transparent);    
}

#first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 30rem;
    height: 30rem;
    border: 3px solid green;
}

#first form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first h2 {
    font-size: 2rem;
    color: #4E6122;
    margin-bottom: 1rem;
}

#first input {
    background-color:#ffff;
    border: none; 
    width: 25rem;
    height: 3.5rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 4px 4px #B5C1B8;
    font-size: 2rem;
}

#first input:focus, .small-data input:focus {
    outline: .2rem solid #4E6122;
}

#email::placeholder, #pwd::placeholder {
    padding: .5rem;
    font-size: 1.5rem;
}


#first p {
    font-size: 1.5rem;
    color: #4E6122;
    margin-bottom: 1rem;
    font-weight: 700;
}

button{
    background-color: #4E6122;
    border: none; 
    border-radius: 3rem;
    font-weight: 700;
    
}

#first button {
    background-color: #4E6122;
    border: none; 
    margin-top: 1rem;
    margin-bottom: .5rem;
    border-radius: 3rem;
    font-weight: 700;
    width: 18rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #F7F4EB;
    border-radius: 3rem;
}

#second {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    width: 30rem;
    height: 30rem;
    border: 3px solid green;
}

.secondCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#second button {
    width: 25rem;
    height: 3.3rem;
    font-size: 1.5rem;
    color: #F7F4EB;
}

#desc {
    font-size: 1.7rem;
    color: #4E6122;
    font-weight: 700;
    margin-bottom: 4rem;
}

#desc strong {
    color:darkorange;
}

.buttonGoogle button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonGoogle img {
    max-width: 2.5rem;
    border-radius: 1rem;
    margin-right: 2rem;
}








