* {
    font-family: 'Lato', sans-serif;
    background-color: #F7F4EB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login h1 {
    font-size: 3rem;
    text-align: center;
    color: #4E6122;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#container-login {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

#login hr {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right, transparent, #4E6122, transparent);    
}

#first-login{
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    width: 60rem;
    height: 25rem;
    background-color: #F7F4EB;
    box-shadow: 4px 4px 4px 4px #B5C1B8;
}

#first-login h2 {
    font-size: 2rem;
    color: #4E6122;
    margin-bottom: 1rem;
}

#first-login input {
    background-color:#ffff;
    border: none; 
    width: 70%;
    height: 3.5rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 4px 4px #B5C1B8;
    font-size: 2rem;
}

#first-login input:focus, .small-data input:focus {
    outline: .2rem solid #4E6122;
}

#email::placeholder, #pwd::placeholder {
    padding: .5rem;
    font-size: 1.5rem;
}


#first-login p {
    font-size: 1.5rem;
    color: #4E6122;
    margin-bottom: 1rem;
    font-weight: 700;
}

button{
    background-color: #4E6122;
    border: none; 
    margin-top: .8rem;
    margin-bottom: .5rem;
    border-radius: 3rem;
    font-weight: 700;
    
}

#first-login button {
    background-color: #4E6122;
    border: none; 
    margin-top: 1rem;
    margin-bottom: .5rem;
    border-radius: 3rem;
    font-weight: 700;
    width: 18rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #F7F4EB;
    border-radius: 3rem;
}

#second-login {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    width: 60rem;
    height: 25rem;
    background-color: #F7F4EB;
    box-shadow: 4px 4px 4px 4px #B5C1B8;
}

#second-login button {
    width: 25rem;
    height: 3.3rem;
    font-size: 1.5rem;
    color: #F7F4EB;
    margin-top: 2rem;
}

#desc {
    font-size: 1.7rem;
    color: #4E6122;
    margin-top: 2rem;
    font-weight: 700;
}

#desc strong {
    color:darkorange;
}

.buttonGoogle img {
    max-width: 2.5rem;
    border-radius: 1rem;
    text-align: left;
    margin-top: .27rem;
    margin-left: -5rem;
}








