<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Rajdhani&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/style.css">
  <title>Formulário de Login</title>
</head>

<body link="#4E6122" vlink="#4E6122">

  <header>
    
  </header>

  <main>
    <header id="login">
      <h1>Registre-se</h1>
      <hr />
    </header>

    <form action="/">

      <section id="container-login">

        <section id="first-login">
          <h2>LOGIN</h2>

          <div class="input">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="E-mail" />
          </div>

          <div class="input">
            <label for="pwd"></label>
            <input type="password" id="pwd" name="pwd" placeholder="Senha">
          </div>

          <p>
            <a href="">Esqueci minha senha?</a>
          </p>

          <button type="submit">Entrar</button>

        </section>

        <section id="second-login">
          <div class="buttonGoogle">
            <button type="submit"><img src="../../img/simbolGoogle.png" alt="Google">Continuar com o
              Google</button><br />
          </div>

          <div class="buttonRegister"></div>
          <a href="../Cadastro/cadastro.html"><button type="submit">Clique e cadastre-se</button></a>
          </div>

          <aside id="desc">
            <p>Cadastre-se em nosso site e ganhe</br>
              <strong>10% de desconto</strong> na sua primeira compra!
            </p>
          </aside>

        </section>
      </section>

    </form>

  </main>

  <footer>

  </footer>

</body>

</html>