<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Rajdhani&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/public/img/infinityCosmeticos.ico" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/9b4c830fd1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="login.css">
  <script src="loginValidForm.js" defer></script>
  <title>Infinity Cosméticos</title>
</head>

<body link="#4E6122" vlink="#4E6122">
  <header class="headerAlternative">
    <nav class="navBar-Alternative">
      <div class="logoAlternative">
        <a href="../../../index.html"><img src="/public/img/Logo3PNG.png" alt="Logo"></a>
      </div>
      <div class="safetyDate">
        <div class="safetyDate-paragraph">
          <p>SEUS DADOS</p>
          <p>100% SEGURO</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-lock2"
          viewBox="0 0 16 16">
          <path
            d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z" />
          <path
            d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
        </svg>
      </div>
    </nav>
  </header>

  <main>

    <div id="login">
      <h1>Registre-se</h1>
      <hr />
    </div>



    <section id="container-login">

      <div id="first-login">
        <h2>LOGIN</h2>

        <form action="/public/views/painelDoUsuario/painelDeUsuario.html">

          <div class="input">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="E-mail" required/>
          </div>

          <div class="input">
            <label for="pwd"></label>
            <input type="password" id="pwd" name="pwd" placeholder="Senha" requerid/>
          </div>
          <div class="first-login-buttom">
            <p>
              <a href="">Esqueci minha senha?</a>
            </p>
  
            <button type="submit" id="enter">Entrar</button>
          </div>
        </form>
      </div>

      <div id="second-login">

        <div id="buttonGoogle">
          <button type="submit"><img src="../../img/simbolGoogle.png" alt="Google">Continuar com o
            Google</button><br />
        </div>

        <div id="buttonRegister">
          <a href="../Cadastro/cadastro.html"><button type="submit">Clique e cadastre-se</button></a>
        </div>

        <aside id="desc">
          <p>Cadastre-se em nosso site e ganhe</br>
            <strong>10% de desconto</strong> na sua primeira compra!
          </p>
        </aside>

      </div>

    </section>

  </main>

  <footer class="footerAlternative">
    <div class="footerAlternative-start">
      <div class="footerAlternative-links">
        <div class="footerAlternative-contact">
          <h3>Contato</h3>
          <ul>
            <li><a href="https://chat.whatsapp.com/FjdF5cHSeSyJIcPrKWDZmL" target="_blank">
                <i class="fa-brands fa-whatsapp"></i> (11)948584656</a></li>
            <li><a href="#">sac@grupoinfinity.com.br</a></li>
          </ul>
          <span>Atendimento 24 horas</span>
        </div>
        <div class="footerAlternative-securitycertificate">
          <h3>Segurança</h3>
          <div class="footerAlternative-safetyDate">
            <div class="footerAlternative-safetyDate-paragraph">
              <p>SEUS DADOS</p>
              <p>100% SEGURO</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-lock2"
              viewBox="0 0 16 16">
              <path
                d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z" />
              <path
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
            </svg>
          </div>
          <img src="/public/img/loja-protegida.png" alt="">
        </div>
      </div>
    </div>
    <div class="footerAlternative-end">
      <span>Copyright &copy; 2002 - Infinity Cosméticos Ltda. Todos os direitos reservados. CNPJ 26.226.155/0001-34 -
        Av. Domingos Odália Filho, 301 - Sala: 14/106 - Centro Osasco, 06010-060, São Paulo - Brasil</span>
    </div>
  </footer>

</body>

</html>