@import url("https://fonts.googleapis.com/css2?family= Lato:ital, wght @0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 & display=swap");


body {
    font-family: "Lato";
    background-color: #dbcea6;

}


p {
    color: #4e6122;
    text-align: left;
}


td {
    color: #4e6122;
    text-align: center;

}



tbody {
    color: #4e6122;


}

span {
    color: #4e6122;
    text-align: center;


}

form {
    color: #4e6122;


}



button {
    background-color: #4e6122;
    box-shadow: 0.3rem -0.3rem 0.3rem #b5c1b8;
    color:  white;
    padding: 0.7rem 0.7rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: "lato";
    margin: 1rem 1rem;
    border-radius: 0.8rem;
    
}

