@import url("https://fonts.googleapis.com/css2?family= Lato:ital, wght @0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 & display=swap");


body {
    font: "Lato";
    background-color: #dbcea6;

}


p {
    color: #4e6122;
    text-align: center;
}


td {
    color: #4e6122;
    text-align: center;

}


tr {
    display:inline-block;
    padding: 0.7rem 0.7rem;
    

}


tbody {
    color: #4e6122;


}

span {
    color: #4e6122;
    text-align: center;


}

form {
    color: #4e6122;


}



button {

    background-color: #4e6122;
    color: #FFF;
    padding: 0.7rem 0.7rem;
    text-align: center;
    font-size: 0.9rem;
    font: "Lato";
    font-weight: bold;
    margin: 0.8rem 0.6rem;
    border-radius: 0.8rem;
    
}

input {
    padding: 0.7rem 0.7rem;
    text-align: center;
    font-size: 0.9rem;
    font: "Lato";
    font-weight: bold;
    margin: 0.8rem 0.1rem;
    border-radius: 0.8rem;
    border-color: #000;
}

cep {
    color: #4e6122;

}

fieldset {
  background-color: aliceblue;
  display:inline-block;


}


legend {
  color: #4e6122;
  font-weight: bold;
  



}


  
  
  