* {
    font-family: 'Lato', sans-serif;
    background-color: #F7F4EB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #4E6122;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

hr {
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(to right, transparent, #4E6122, transparent);    
}

section {
    margin: auto;
    max-width: 90%;
    margin-top: 3rem;
    
}

section h2 {
    font-size: 2rem;
    color: #4E6122;
    margin: 2rem;
}

section h3 {
    font-size: 1.5rem;
    color: #9ab669;
    margin: 1rem;
}

section p {
    font-size: 1.5rem;
    color: black;
    margin: 1rem;
}

section ul {
    font-size: 1.5rem;
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
}
